<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Online Furniture, Furniture, House looks, Home Looks, House Collections, Home Collections, Home Decor, Interiors, Interiors Designers, Wooden Furniture, Home Furniture "></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>

<div class="staticContainer col-xs-12 noPadding">
  <div class="staticContent col-xs-12 col-md-10 col-md-offset-1">
    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 staticOuter">
      <div class="staticSmallSection">
        <h3 class="staticMainHead"><center>About Us</center></h3>
        <p>HomeBliss is the hippest community for Home Interiors and Design. Browse through the ever expanding catalogue of the newest and trendiest design collections from the best designers in India. Bookmark the Collections you love to find them later.
          There is a lot of good stuff out there but its difficult to find. Through our network of designers and curators, we bring all these collections, which are buy-able directly from these designers and Merchants.</p>
      </div>
      <div class="staticSmallSection">
        <h5><b>Curated Designs</b></h5>
        <p>Browse through the ever expanding catalogue of the newest and trendiest design collections from the best designers in India</p>
      </div>
      <div class="staticSmallSection">
        <h5><b>Bookmark & Share</b></h5>
        <p>Bookmark the Collections you love to find them later. If you love, why not share it. May be your friends just find that perfect inspiration they have been looking for</p>
      </div>
      <div class="staticSmallSection">
        <h5><b>Shop</b></h5>
        <p>There is a lot of good stuff out there but its difficult to find. Through our network of designers and curators, we bring all these collections, which are buy-able directly from these designers and Merchants</p>
      </div>
    </div>

  </div>
</div>
