<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Bakeware, Rugs, Curtains, Garden, Mattresses, Pillows, Storage, Shelves, Book Shefls, Outdoor furniture, Home Appliances, Tableware, Glassware, Serveware"></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>


<style>
  md-input-container.md-default-theme.md-input-invalid .md-input,
  md-input-container.md-input-invalid .md-input {
    background: url("../images/alert.127b235b.png") no-repeat 0 1px;
    background-position: right;
  }

  .md-select-menu-container {
    z-index: 10000 !important;
  }

  md-input-container {
    box-sizing: content-box !important;
  }

  .ngdialog.ngdialog-theme-default .ngdialog-content {
    margin-top: 1%;
  }
</style>
<form name="addressForm" class="col-md-12 noPadding clearfix addAddressPopup" ng-submit="updateAddress()">
  <h1 class="addressPopHead">Add New Address</h1>
  <div class="col-md-12 col-xs-12">
    <div class="col-md-12 col-xs-12  addressPopBox">

      <div class="col-xs-2 noPadding">
        <md-input-container>
          <label>Title</label>
          <md-select name="quantity" id="quantity" ng-model="userAddress.title" data-ng-change="setTitle(userAddress.title)" required>
            <md-option ng-repeat="value in titleList" value="{{value}}" ng-model="userAddress.title">{{value}}</md-option>
          </md-select>
        </md-input-container>
      </div>

      <div class="col-xs-5 noPadding lastNamePadding">
        <md-input-container class="md-block">
          <input ng-model="userAddress.first_name" type="text" placeholder="First Name" required autofocus>
        </md-input-container>
      </div>

      <div class="col-xs-5 lastNamePadding">
        <md-input-container class="md-block">
          <input ng-model="userAddress.last_name" type="text" placeholder="Last Name">
        </md-input-container>
      </div>

      <div class="col-xs-12 noPadding">
        <md-input-container class="md-block">
          <input ng-model="userAddress.address_name" type="text" placeholder="Address Type (Bussiness, Home)" required>
        </md-input-container>
      </div>
      <div class="col-xs-12 noPadding">
        <md-input-container class="md-block">
          <input ng-model="userAddress.mobile" type="number" ng-minlength="10" minlength="10" maxlength="10" ng-maxlength="10" placeholder="Mobile Number" required>
        </md-input-container>
      </div>

      <div class="col-xs-12 noPadding">
        <md-input-container class="md-block">
          <input ng-model="userAddress.email" type="email" placeholder="Email" ng-pattern="/^.+@.+\..+$/" required>
        </md-input-container>
      </div>

      <div class="col-xs-12 noPadding">
        <md-input-container class="md-block">
          <input ng-model="userAddress.building_name" type="text" placeholder="Society / Bldg Name" required>
        </md-input-container>
      </div>

      <div class="col-xs-12 noPadding">
        <md-input-container class="md-block">
          <input ng-model="userAddress.landmark" type="text" placeholder="Land Mark" required>
        </md-input-container>
      </div>

    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-12 addressPopBox">
      <md-input-container class="md-block">
        <input ng-change="validatePincode()" ng-model="userAddress.pincode" type="number" ng-minlength="6" minlength="6" maxlength="6" ng-maxlength="6" placeholder="Pin Code" required>
      </md-input-container>
      <md-input-container class="md-block">
        <input ng-model="userAddress.locality" type="text" placeholder="Locality / Town" required>
      </md-input-container>
      <md-input-container class="md-block">
        <input ng-model="userAddress.city" type="text" placeholder="City / District" required>
      </md-input-container>
      <md-input-container class="md-block">
        <input ng-model="userAddress.state" type="text" placeholder="State" required>
      </md-input-container>
    </div>
  </div>
  <div class="clear"></div>
  <div class="col-md-12 noPadding text-center">
    <div class="col-xs-12 errorNotify errorNotifyAddress">{{error}}</div>
    <button type="submit" class="saveAddressBttn btn btn-default" ng-disabled="addressForm.$invalid||invalidPin">Save & Continue</button>
  </div>
</form>
