<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Living Room, Bedroom, Kids Rooms, Dining Rooms, Sofa, Beds, Bedsheets, Table, Chairs, Wardrobe, Kitchen, Linen, Decor, Bath, Lighting, Cookware"></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>

<div class="overlayCustom" ng-show="$root.customeOverlay"></div>
<div class="col-md-10 col-md-offset-1 col-xs-12 collectionDetailsContainer">
  <div class="col-xs-12 noPadding" ng-if="windowSize > 500">
    <div class="col-xs-12">
      <h1 class="cartHead text-center">SHOPPING CART</h1></div>
    <div class="col-xs-12 text-center noPadding cartStage">
      <a href="/cart"><span><span class="roundCountCompleted">1</span><span class="arrowLink completed">Cart</span></span></a>
      <span><span class="roundCountActive">2</span><span class="arrowLink selected">Add Address</span></span>
      <span><span class="roundCount">3</span><span class="unselected">Payment</span></span>
    </div>
  </div>
  <div class="col-md-12 noPadding">
    <div class="col-md-8 noPadding">
      <div class="col-md-12 col-xs-12 noPadding shippingAddressBg">
        <div class="col-md-12 m15">
          <div class="col-md-8 col-xs-12 shippingHdTxt">Shipping Address</div>
          <div class="col-md-4 col-xs-12 addAddrsDiv noPadding">
            <a class="addAdress pull-right" ng-click="addAndUpdateAddress()" ng-if="windowSize > 500"> + Add new Address</a>
            <button class="btn btn-default col-xs-12 checkoutBtn borderRadius" ng-click="addAndUpdateAddress()" ng-if="windowSize <= 500"> + Add new Address</button>
          </div>
        </div>
        <div class="col-md-12 col-xs-12 noPadding ">
          <div class="col-md-4  clearfix" ng-repeat="address in addressDetails track by address.address_id" ng-click="selectAddress(address.address_id, address.pincode)">
            <div class="col-xs-12 noPadding addressBox" ng-class="{selectAddress : selectedAddress === address.address_id}">
              <div class="col-xs-12 noPadding addressHead">
                <div class="col-md-9 col-xs-9">
                  <h1>{{::address.address_name}}</h1></div>
                <div class="col-md-3 col-xs-3 noPadding">
                  <!-- <i class="glyphicon glyphicon-trash"></i> -->
                  <a ng-click="addAndUpdateAddress($index)" class="editIcon"><i class="glyphicon glyphicon-pencil"></i></a>
                </div>
              </div>
              <div class="col-xs-12 addressTxt">
                {{::address.building_name}}
                <br> {{::address.landmark}}
                <br> {{::address.locality}}
                <br> {{::address.city}} - {{::address.pincode}}, {{::address.state}}
                <br>
              </div>
              <div class="col-xs-12 addressPhone">
                {{address.mobile}}
              </div>
              <div class="col-xs-12 addressSelect" ng-if="selectedAddress != address.address_id">
                Select
              </div>
              <div class="col-xs-12 addressSelected" ng-if="selectedAddress === address.address_id">
                <img ng-src="../images/fllw_tick.png" />&nbsp;Selected
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="col-md-12 summaryBg">
        <h2>Order Summary</h2>
        <div class="col-md-12 noPadding limitCartItem">
          <div class="col-md-12 noPadding" ng-repeat="item in cartDetails">
            <div class="col-md-3 noPadding"><img ng-src="{{item.product_image}}" class="img-responsive " /></div>
            <div class="col-md-9">
              <p class="orderSmmryTxt">{{::item.product_title}}</p>
              <div class="col-md-12 orderPrice"> {{::item.sales_price| currency:'&#8377;': "" : 0}}/- <span class="orderQnty">{{::item.quantity}}</span></div>
            </div>
            <hr class="col-md-12 noPadding" ng-if="!$last" />
          </div>
        </div>
        <div class="col-md-12 noPadding orderTxt borderBttm">
          No. of products <span class="orderValue" ng-if="!$root.flashSale">{{$root.itemCount}}</span><span class="orderValue" ng-if="$root.flashSale">{{flashSaleItemCount}}</span>
        </div>
        <div class="col-md-12 noPadding orderTxt borderBttm">
          Item total <span class="orderValue">Rs.{{totalProductPrice}}</span>
        </div>
        <div class="col-md-12 noPadding orderTxt borderBttm">
          Shipping and Handling fee <span class="orderValue" ng-if="!$root.flashSale">{{deliveryDetails.shipping_handling_charge+deliveryDetails.normal_shipping}}</span>
          <span class="orderValue" ng-if="$root.flashSale&&totalProductPrice<800">{{100+addAdditionalCharge}}</span>
          <span class="orderValue" ng-if="$root.flashSale&&totalProductPrice>=800">{{0+addAdditionalCharge}}</span>
        </div>
        <div class="col-md-12 noPadding totalTxt">
          You Pay
          <br> <span class="orderTxt">(inclusive all tax)</span> <span class="orderValue" ng-if="!$root.flashSale"> {{deliveryDetails.total_price+deliveryDetails.shipping_handling_charge+deliveryDetails.normal_shipping| currency:'&#8377;'}}</span>
          <span class="orderValue" ng-if="$root.flashSale&&totalProductPrice<800"> {{totalProductPrice+deliveryDetails.shipping_handling_charge+deliveryDetails.normal_shipping+100+addAdditionalCharge| currency:'&#8377;'}}</span>
          <span class="orderValue" ng-if="$root.flashSale&&totalProductPrice>=800"> {{totalProductPrice+deliveryDetails.shipping_handling_charge+deliveryDetails.normal_shipping+addAdditionalCharge| currency:'&#8377;'}}</span>
        </div>
      </div>
      <div class="col-xs-12 noPadding smallScreenSticky">
        <button class="btn btn-default col-xs-12 checkoutBtn" ng-click="placeOrder()" ng-disabled="$root.disableProceed">Proceed to secure payment</button>
      </div>
      <div class="col-xs-12 shippingMsg">
        <p><i>Please Note: There is no shipping charge for orders above Rs.800. If your order value is less than Rs.800 a shipping and handling charge of Rs.100 will apply.</i></p>
        <p><i>For certain pincodes free shipping and assembly are not provided. Additional shipping charges of 15% will be applied at checkout. You can see this message at the time of Pincode check for delivery feature / option</i></p>
      </div>
      <!-- <button class="col-md-12 btn btn-default proceedPayBttn" ng-disabled="!selectedAddress "ng-click="placeOrder()">Proceed to secure payment </button> -->
    </div>
  </div>
</div>

<form action="https://secure.payu.in/_payment" method="post" id="payForm">
  <input type="hidden" id="key" name="key" value="" />
  <input type="hidden" id="hash" name="hash" value="" />
  <input type="hidden" id="txnid" name="txnid" value="" />
  <input type="hidden" id="surl" name="surl" value="" size="64" />
  <input type="hidden" id="furl" name="furl" value="" size="64" />

  <input type="hidden" id="productinfo" name="productinfo" value="" />
  <input type="hidden" id="amount" name="amount" value="" />

  <input type="hidden" id="firstname" name="firstname" value="" />
  <input type="hidden" id="phone_number" name="phone" value="" />
  <input type="hidden" id="email" name="email" value="" />
  <!-- <input type="hidden" name="service_provider" value="payu_paisa"/> -->
</form>
