<update-title title="{{collectionDetails.catalog_title}}"></update-title>
<update-meta name="description" content="{{collectionDetails.brief_description}}"></update-meta>
<update-meta name="keywords" content="Bakeware, Rugs, Curtains, Garden, Mattresses, Pillows, Storage, Shelves, Book Shefls, Outdoor furniture, Home Appliances, Tableware, Glassware, Serveware"></update-meta>
<update-meta property="og:title" content="{{collectionDetails.catalog_title}}"></update-meta>
<update-meta property="og:description" content="{{collectionDetails.brief_description}}"></update-meta>
<update-meta property="og:image" content="{{collectionDetails.banner_image}}"></update-meta>
<update-meta property="og:url" content="{{currentPageUrl}}"></update-meta>

<div class="col-md-12 noPadding collectionDetailsContainer col-xs-12">
  <div class="col-md-10 col-md-offset-1 col-xs-12 noPadding">
    <div class="col-md-12 col-xs-12 noPadding">
      <div class="col-md-7 col-sm-12 col-xs-12 flowHidden" ng-class="{noPadding:windowSize <= 500}" ng-mouseover="items=true" ng-mouseleave="items=false">
        <div class="col-xs-12 catlogImgCntnr noPadding">
          <img ng-src="{{::collectionDetails.banner_image}}" imageonload="getSize()" class="noPadding" ng-class="{prodBannerImgPortrait:imageType =='portrait',prodBannerImg:imageType =='landscape'}" alt="{{::collectionDetails.catalog_title}}" id="bannerImg" />
          <span class="shareBtn" ng-click="$root.share(collectionDetails.brief_description, collectionDetails.banner_image,'collectionList',collectionDetails)"></span>
          <span class="likeBtn" ng-if="!collectionDetails.is_liked_by_me" ng-click="likeUlike('like',collectionDetails.catalog_id)"></span>
          <span class="likedBtn" ng-if="collectionDetails.is_liked_by_me" ng-click="likeUlike('unlike', collectionDetails.catalog_id)"></span>
          <div class="col-xs-12 noPadding hovrSection text-center" ng-show="items">
            <button class="btn btn-default favtShare" ng-click="$root.share(collectionDetails.brief_description, collectionDetails.banner_image,'collectionList',collectionDetails)" ng-show="items" ng-mouseover="items=true">
              <img src="../images/favt-share.8821055e.png" class="pull-left"><span class="pull-left">Share{{imageClass}}</span>
            </button>
            <button class="favtBtn btn btn-default" ng-show="!collectionDetails.is_liked_by_me" ng-click="likeUlike('like',collectionDetails.catalog_id)" ng-disabled="loading">
              <img src="../images/favt-like.a8fc1956.png" class="pull-left"><span class="pull-left">Favorite</span>
            </button>
            <button class="fvrtdBtn btn btn-default" ng-show="collectionDetails.is_liked_by_me" ng-click="likeUlike('unlike', collectionDetails.catalog_id)" ng-disabled="loading">
              <img src="../images/favt-like.a8fc1956.png" class="pull-left"><span class="pull-left">Favorite</span>
            </button>
          </div>
          <div class="socialShare">
            <div class="fb_share pull-left">
              <div fb-like="myModel.Url"></div>
              <!-- <div class="fb-like" data-href="https://www.facebook.com/HomeBliss.in/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div> -->
            </div>
            <div class="pinterest_share pull-left">
              <a href="https://www.pinterest.com/pin/create/button/?url=http://www.homebliss.in&media={{::collectionDetails.banner_image}}&description={{::collectionDetails.brief_description}}" target="_blank" data-pin-do="buttonPin">
                <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-sm-12 col-xs-12 noPadding collectionRgtBg">
        <div class="col-xs-12 desCollection noPadding">
          <div class="col-md-3 col-sm-6 col-xs-4 designImg">
            <a href="/designerDetails/{{::collectionDetails.designer_id}}"><img ng-src="{{::collectionDetails.designer_pic}}" class="img-circle img-responsive" /></a>
          </div>
          <div class="col-md-9 col-sm-6 col-xs-8 noPadding">
            <div class="col-xs-12 noPadding">
              <div class="col-xs-12 noPadding">
                <span class="designHd pull-left"><span>by</span> {{::collectionDetails.designed_by}}</span>
                <span class="following pull-right btn bt-default" ng-if="collectionDetails.is_followed_by_me" ng-click="follow(collectionDetails.designer_id, 'unfollow')" ng-disabled = "followLoading">
                  <img ng-src="../images/fllw_tick.png"/> Following
                </span>
                <span class="pull-right btn btn-default followCatalogDetails" ng-if="!collectionDetails.is_followed_by_me" ng-click="follow(collectionDetails.designer_id, 'follow')" ng-disabled = "followLoading">Follow Me</span>
              </div>
              <span class="designTxt">{{::collectionDetails.designer_location}} . {{::collectionDetails.followers_count}} followers</span>
            </div>

            <div class="col-md-12 col-xs-12 noPadding designerFllw text-center" style="margin-top:2px;">
              <div class="follow col-md-12 col-xs-12 noPadding text-center"><span ng-click="designerDetails(collectionDetails.designer_id)" class="pull-left" style="font-size:11px;">View more collections by {{::collectionDetails.designed_by}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12  collectionDetSec noPadding">
          <h1 class="collectDetHd">{{::collectionDetails.catalog_title}}</h1>
          <p class="collectSmllTxt">{{::collectionDetails.brief_description}} &nbsp;</p>
          <p class="text-center askQuest"><a href="" class="questBttn"> Ask a Question</a></p>
          <form class="formBg clearfix" ng-submit="askQuestion()">
            <div class="col-xs-10 question">
              <md-input-container class="md-block askAQuest" flex-gt-sm>
                <label>Ask a Question to {{::collectionDetails.designed_by}}</label>
                <input ng-model="question" ng-click="checkForUser()" required id="askQuestion">
              </md-input-container>
            </div>
            <div class="col-xs-2 noPadding">
              <input type="submit" class="questButton" value=">">
            </div>
          </form>
          <div class="col-xs-12 quest">
            <div class="col-xs-12 showAnswerBox" ng-click="ShowAnswer = !ShowAnswer">Show me what others asked <span class="glyphicon glyphicon-play-circle"></span></div>
            <div class="col-xs-12 noPadding questAnswerBx" ng-show="ShowAnswer" ng-class="{questAnswerBxNoScroll:!conversations.length}">
              <div class="col-xs-12 noPadding" scroll-trigger="scrollTriggered()" analytics-on="scrollby" analytics-event="ScrollQuestions" analytics-category="SurfingCollections {{collectionDetails.brief_description}} / {{collectionDetails.catalog_id}}">
                <div class="questionHide noPadding col-xs-12">
                </div>
                <div ng-repeat="conversation in conversations">
                  <p class="questPrson">{{::conversation.user_name}}</p>
                  <p class="questAnsr">{{::conversation.question}}</p>
                  <p class="ansrSectn questAnsr">Ans: {{::conversation.answer}}</p>
                  <hr />
                </div>
              </div>
            </div>

          </div>
          <div class="col-xs-12"> <a href="/questions" class="pull-right testViewAll detailsViewAll">View All</a></div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-xs-12 noPadding collectionProdsContainer" ng-if="similarCollection">
      <product-card product="product" catalogid="product.category_id" ng-repeat='product in products | limitTo:limit:begin'></product-card>
      <div id="prev-prods" class="preNextBttn" ng-click="backBtn()" ng-if="products.length > limit"></div>
      <div id="next-prods" class="preNextBttn" ng-click="nextBtn()" ng-if="products.length >limit"></div>
    </div>
  </div>
  <hr class="col-md-12 col-xs-12 noPadding" />
  <div class="col-md-10 col-md-offset-1 col-xs-12 collectionSimilarProdsContainer">
    <div class="col-md-12 col-xs-12 similarCollectionHeading">
      <center>
        <h3>SIMILAR COLLECTIONS</h3></center>
    </div>
    <div class="col-xs-12">
      <slick infinite="true" settings="slickConfig" slides-to-show="{{countOfProduct}}" slides-to-scroll="{{countOfProduct}}">
        <collection-card details="collection" index="$index" templatetype="1" from = "'similarCollection'" ng-repeat="collection in similarCollection"></collection-card>
      <slick>
    </div>
  </div>
</div>
