<div class=" collectionCard  pull-left" ng-class="{collectionCard2:templatetype == 2,simialrCollectionCard:from == 'similarCollection'}" ng-hide="hideCard">
  <div class="loadingForCard" ng-show="loading"></div>
  <spinner2 class="spinnerTwo" ng-show="loading"></spinner2>
  <div class="mainCollectionContainer collectionCardImage" ng-mouseover="items=true" ng-mouseleave="items=false">
    <div class="imageContainer col-xs-12 noPadding text-center" id="collectionCard">
      <div class="col-xs-12 noPadding imageLoadingBg" ng-class="{collectionImage1:templatetype == 1,collectionImage2:templatetype==2,collectionImage3:templatetype==3} ">
        <a href="{{currentUrl}}">
          <img ng-src="{{::details.banner_image}}" ng-class="{collectionImage1:templatetype == 1,collectionImage2:templatetype==2,collectionImage3:templatetype==3} " ng-show="collectionImageLoaded" class="collectionScreenImg" imageonload="collectionImageLoaded = true" ng-init="collectionImageLoaded=false" alt="{{::details.catalog_title}}" ng-click="gotoCollectionDetails(details.catalog_id)">
        </a>
      </div>
      <!-- <img ng-src="{{::details.banner_image}}" class="collectionImg" alt="{{::details.catalog_title}}" ng-show="smallScreen"  ng-click="gotoCollectionDetails(details.catalog_id)"> -->
      <span class="shareBtn" ng-click="$root.share(details.brief_description, details.banner_image,'collectionList',details)"></span>
      <span class="likeBtn" ng-show="!details.is_liked_by_me" ng-click="likeUlike('like',details.catalog_id ,$index)"></span>
      <span class="likedBtn" ng-show="details.is_liked_by_me" ng-click="likeUlike('unlike', details.catalog_id, $index)"></span>
      <span class="unClickableBtn" ng-if="loading&&windowSize<=500"></span>
      <div class="col-xs-12 noPadding hovrSection text-center" ng-show="items&&!smallScreen">
        <button class="btn btn-default favtShare" ng-click="$root.share(details.brief_description, details.banner_image, 'collectionList',details)" ng-show="items" ng-mouseover="items=true">
          <img src="../images/favt-share.8821055e.png" class="pull-left"><span class="pull-left">Share</span>
        </button>
        <button class="favtBtn btn btn-default" ng-show="!details.is_liked_by_me" ng-click="likeUlike('like',details.catalog_id ,$index)" ng-disabled="loading">
          <img src="../images/favt-like.a8fc1956.png" class="pull-left"><span class="pull-left">Favorite</span>
        </button>
        <button class="fvrtdBtn btn btn-default" ng-show="details.is_liked_by_me" ng-click="likeUlike('unlike', details.catalog_id, $index)" ng-disabled="loading">
          <img src="../images/favt-like.a8fc1956.png" class="pull-left"><span class="pull-left">Favorite</span>
        </button>
      </div>
    </div>
    <div class="col-xs-12 collectionDetails noPadding" ng-click="gotoCollectionDetails(details.catalog_id)">
      <img ng-src="{{::details.designer_pic}}" ng-click="gotoDesignerDetails(details.designer_id)" class="img-circle collectionDesignerImage" alt="{{::details.designed_by}}">
      <a href="{{currentUrl}}">
        <div class="col-xs-12 nameLikes">
        <span class="collctionGreyTxt pull-left" style="padding-left:66px"> by {{::details.designed_by}}</span>
        <span class="collctionGreyTxt pull-right">{{details.total_like}} likes</span>
        </div>
        <h1 class="col-xs-12 collectionName">{{::details.catalog_title}}</h1>
      </a>
      <div class="col-xs-12 collectionMaterial">
        <!-- <i>{{::details.brief_description}}</i> -->
      </div>
    </div>
  </div>
</div>
