<update-title title="Homebliss collection"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Living Room, Bedroom, Kids Rooms, Dining Rooms, Sofa, Beds, Bedsheets, Table, Chairs, Wardrobe, Kitchen, Linen, Decor, Bath, Lighting, Cookware"></update-meta>
<update-meta property="og:title" content="Homebliss collection"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>

<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 noPadding collectionPage" ng-cloak scroll-trigger="scrollTriggered()">
  <div class="col-xs-12">
    <div class="col-xs-12 noPadding bannerSection" id="sliderSection">
      <uib-carousel active="active" interval="5000" no-wrap="false">
        <uib-slide ng-repeat="elements in $root.sliderImages" index="$index">
          <a href="{{elements.slider_url}}"><img ng-src="{{elements.slider_image}}"></a>
          <!-- <a href="/collectionDetails/{{elements.catalog_id}}"><img ng-src="{{elements.slider_image}}"></a> -->
        </uib-slide>
      </uib-carousel>
    </div>
    <div class="col-xs-12 noPadding" infinite-scroll='load()' infinite-scroll-listen-for-event="list:filtered" infinite-scroll-disabled='paginate'  analytics-on="scrollby" analytics-event="SurfingCollections" analytics-category="SurfingCollections">
      <collection-card details="collection" index="$index" templatetype="collection.template_type" ng-repeat="collection in collectionList|limitTo: totalDisplayed"></collection-card>
    </div>
    <div class="col-xs-12 text-center" ng-init="loading=true">
       <md-progress-circular ng-disabled="!vm.activated" class="md-accent cirularLoader" md-diameter="80" ng-show="loading" ></md-progress-circular>
       <button class="btn btn-default paginatnBtn " ng-click="pagination()" ng-hide="hidePagination||loading"><span class="blink_me">Show More Collections</span></button>
       <p class="test-center noMoreCollections" ng-show="hidePagination">__________ No More Collections __________</p>
    </div>
  </div>
</div>
