<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Online Furniture, Furniture, House looks, Home Looks, House Collections, Home Collections, Home Decor, Interiors, Interiors Designers, Wooden Furniture, Home Furniture, "></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>


<div class="col-md-10 col-md-offset-1 col-xs-12 mainContainer smllContainer">
  <div class="col-md-12 noPadding designerDetBox">
    <div class="col-md-3 designerProfBg"><img ng-src={{::designerProfDetails.designer_image}} class="img-circle desProfImage" /></div>
    <div class="col-md-9 noPadding">
      <div class="col-md-9 smDesDtContent">
        <h1 class="desProfHdtxt">{{::designerProfDetails.designer_name}}</h1>
        <p class="profTxt"><span class="profLoc">{{::designerProfDetails.designer_location}}</span> <span class="prodDot">. </span><span class="profCount">{{designerProfDetails.followers_count}}</span> followers</p>
      </div>
      <div class="col-md-3 designerFllw">
        <div ng-if="!designerProfDetails.is_followed_by_me" class="follow col-md-12 noPadding"><span class="follow btn btn-default" ng-click="follow(designerProfDetails.designer_id, 'follow', $index)" ng-disabled="followLoading">Follow Me</span>
        </div>
        <div ng-if="designerProfDetails.is_followed_by_me" class=" col-md-12 noPadding">
          <span class="following btn btn-default" ng-click="follow(designerProfDetails.designer_id, 'unfollow', $index)" ng-disabled="followLoading">
                <img ng-src="../images/fllw_tick.png"/> Following
              </span>
        </div>
      </div>
      <hr class="clear" />
      <div class="col-md-12">{{::designerProfDetails.description}}</div>
      <div class="col-md-12 sendMailTxt" ng-click="checkForUser()">
        <span class="glyphicon glyphicon-envelope sendIcon" aria-hidden="true"></span>
        <a href="mailto:designers@homebliss.in" ng-click="sendEmail()" class="sendMail" ng-if="userDetails && windowSize<=500">send mail</a>
        <a href=" https://mail.google.com/mail/?view=cm&fs=1&to=designers@homebliss.in"  ng-click="sendEmail()" target="_blank" class="sendMail" ng-if="userDetails && windowSize>500">send mail</a>
        <a class="sendMail" ng-if="!userDetails">send mail</a>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h2 class="subHead">My Collections</h2></div>

  <div class="col-xs-12 noPadding" infinite-scroll='load()' infinite-scroll-distance='0' infinite-scroll-disabled='paginate' scroll-trigger="scrollTriggered()">
    <collection-card details="collection" index="$index" templatetype="1" ng-repeat="collection in collectionList|limitTo: totalDisplayed" ng-class="{noMargin:($index+1)%3 == 0}"></collection-card>
  </div>

</div>
