<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Bakeware, Rugs, Curtains, Garden, Mattresses, Pillows, Storage, Shelves, Book Shefls, Outdoor furniture, Home Appliances, Tableware, Glassware, Serveware "></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>


<div class="designersPage">
  <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 noPadding mainContainer">
    <div class="col-xs-12 noPadding" scroll-trigger="scrollTriggered()">
      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 designerContainer" ng-repeat="designer in designerList">
        <div class="col-xs-12 noPadding designerBox">
          <div class="designerImg text-center"><span ng-click="designerDetails(designer.designer_id)"><img ng-src={{::designer.designer_image}} class="img-circle zoomEffct" /></span></div>
          <div class="designerName text-center"><span>{{::designer.designer_name}}</span></div>
          <div class="designerLocation text-center"><span>{{::designer.location_name}}</span></div>
          <div class="col-xs-12 noPadding designerFollow">
            <span ng-if="!designer.is_followed_by_me" class="desFollow pull-right noPadding" ng-click="follow(designer.designer_id, 'follow', $index)"><span class="follow">Follow Me</span>
            </span>
            <span ng-if="designer.is_followed_by_me" class="desFollow pull-right noPadding">
              <span class="following" ng-click="follow(designer.designer_id, 'unfollow', $index)">
                <img ng-src="../images/fllw_tick.png"/> Following
              </span>
            </span>
            <span class="followers" class="pull-left"><span class="followersNo">{{designer.followers_count}}</span><span class="span2"> Followers</span></span>
            <span class="followersSmall pull-left" class=""><span class="followersNo">{{designer.followers_count}}</span></br><span class="span2"> Followers</span></span>
          </div>
          <div class="col-xs-12 designerProfileLink text-center noPadding" ng-click="designerDetails(designer.designer_id)">VIEW DESIGNS</div>
        </div>
      </div>
    </div>
  </div>
</div>
