<div class="col-xs-12 succesBg">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 succesFailurTop">
    <div class="col-xs-12 succesContainer">
      <img src="../images/fail.4701f0ff.png" class="succesFailurIcon">
      <div class="col-xs-12 text-center"><h1 class="successHead">Your Payment has Failed</h1></div>
      <div class="col-xs-12 text-center">
        <div>Please go back to cart and retry</div>
      </div>
    </div>

    <div class="col-xs-12 succesContainer" style="margin:10px 0 20px 0">
      <div class="col-xs-12 text-center">
        For any questions or further informations ,please contact <br> our customer support
      </div>
      <div class="col-xs-12 text-center" style="margin-top:12px">
        <a href="tel:0803337777"><button class="btn btn-default succesCallBtn">080 33 7777</button></a>
        <a href="mailto:mail@homebliss.in" ><button class="btn btn-default successMailTo">mail@homebliss.in</button></a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 text-center">
    <a href="/"><button class="btn btn-default backToHome">BACK TO HOME</button></a>
  </div>
</div>
