<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Living Room, Bedroom, Kids Rooms, Dining Rooms, Sofa, Beds, Bedsheets, Table, Chairs, Wardrobe, Kitchen, Linen, Decor, Bath, Lighting, Cookware"></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>


<div class="staticContainer col-xs-12 noPadding">
  <div class="staticContent col-xs-12 col-md-10 col-md-offset-1">
    <div class="faqHeader">General questions</div>

    <uib-accordion close-others="accordianDetails" ng-click="toggleOpen($event)">
      <uib-accordion-group is-open="accordian.isFirstOpen">
        <uib-accordion-heading ng-click="accordian.isSecondOpen = !accordian.isFirstOpen;">
          How do I create an account? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isFirstOpen, 'glyphicon-chevron-right': !accordian.isFirstOpen}"></i>
        </uib-accordion-heading>
        <p>Creating an account is easy. Just follow these easy steps after clicking sign up:</p>
        <ul style="list-style-type: none;">
          <li>Enter your name</li>
          <li>Enter your Mobile number</li>
          <li>Enter your email ID</li>
          <li>Enter a password</li>
          <li>Your Mobile number or email ID will be used as the default username for your Homebliss account.</li>
          <br/>
          <li>For any queries please feel free to e-mail App@homebliss.in</li>
        </ul>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isSecondOpen">
        <uib-accordion-heading>
          Is it necessary to have a Homebliss.in account to shop?<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isSecondOpen, 'glyphicon-chevron-right': !accordian.isSecondOpen}"></i>
        </uib-accordion-heading>
        <p>it is not necessary to have a Homebliss.in account to shop. A registered user can choose a password for his/her account so that when he/she returns to Homebliss to shop again, our system will remember his/her shipping address and preferred mode
          of payment. This is to save you the trouble of having to fill in those details again. The password can also be used to make changes to the order and account information.However, as with all passwords, you must ensure that you choose something
          you'll remember the next time you want to place an order. While choosing a password, please remember that passwords are case sensitive and must have a minimum of 6 characters. Passwords should be guarded carefully. Remember, accounts can be
          accessed by anyone who knows the password.</p>
        <br/>
        <p>For any queries please feel free to e-mail App@homebliss.in</p>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isThirdOpen">
        <uib-accordion-heading ng-click="accordian.isThirdOpen = !accordian.isThirdOpen;">
          Information We Collect and How We Use It? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isThirdOpen, 'glyphicon-chevron-right': !accordian.isThirdOpen}"></i>
        </uib-accordion-heading>
        <p>You agree that any use on the App/Sites is at your own risk and Homebliss.in is not responsible for it.
          <br/> You are responsible for maintaining the confidentiality of your account and password and for restricting access to your Account, and you agree to accept responsibility for all activities that occur under your account or password.
          <br/> We may collect the following personally identifiable information about you:
          <br/> Name including first and last name
          <br/> Alternate email address
          <br/> Mobile phone number and contact details
          <br/> ZIP/Postal code
          <br/> Demographic profile (like your age, gender, occupation, education, address and durables owned)
          <br/> Preferences and interests (such as news, sports, travel and so on)
          <br/> Financial information (like account or credit card numbers) and
          <br/> Opinions of features on the Sites (i.e., App, websites that are managed, operated or licensed by the sponsors of Homebliss.in) App and websites managed, operated or licensed by Homebliss.in
          <br/> We use your personal information to:
          <br/> Help us provide personalized features;
          <br/> Tailor the Sites to your need or interest;
          <br/> Promote offers through our business associates and partners;
          <br/> Get in touch with you when necessary;
          <br/> Provide the services requested by you; and
          <br/> Preserve social history as governed by existing law or policy.
          <br/>
          <br/> We use contact information internally to:
          <br/> Direct our efforts for product improvement;
          <br/> Contact you as a survey respondent;
          <br/> Notify you if you win any contest; and
          <br/> Send you promotional materials from our contest sponsors or advertisers.</p>
      </uib-accordion-group>

      <div class="faqHeader">Payment Information & Refunds</div>

      <uib-accordion-group is-open="accordian.isFourthOpen">
        <uib-accordion-heading ng-click="accordian.isFourthOpen = !accordian.isFourthOpen;">
          What payment options does Homebliss support? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isFourthOpen, 'glyphicon-chevron-right': !accordian.isFourthOpen}"></i>
        </uib-accordion-heading>
        <p>Credit Card (Visa/Master)
          <br/> Debit Card
          <br/> Net Banking
          <br/> Easy Monthly Installments
          <br/> Wallet
          <br/>
        </p>
        <p>While availing any of the payment method/s offered by us, we are not responsible and take no liability of whatsoever nature in respect of any loss or damage arising directly or indirectly to you out of the decline due to:</p>
        <ul>
          <li>lack of authorization for any transaction/s,</li>
          <li>or exceeding the preset limit mutually agreed by you and between your "Bank/s",</li>
          <li>or any payment issues arising out of the transaction,</li>
          <li>or decline of transaction for any reason/s</li>
        </ul>
        <p>All payments made against the purchases/services on Homebliss.in by you shall be compulsorily in Indian Rupees acceptable by the Union of India. Homebliss.in does not accept any other form of currency with respect to purchases.</p>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isFifthOpen">
        <uib-accordion-heading ng-click="accordian.isFifthOpen = !accordian.isFifthOpen;">
          When am I billed? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isFifthOpen, 'glyphicon-chevron-right': !accordian.isFifthOpen}"></i>
        </uib-accordion-heading>
        Your credit card will be billed by Homebliss as soon as the payment details are shared by you.
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isSixthOpen">
        <uib-accordion-heading ng-click="accordian.isSixthOpen = !accordian.isSixthOpen;">
          What will my credit card statement say? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isSixthOpen, 'glyphicon-chevron-right': !accordian.isSixthOpen}"></i>
        </uib-accordion-heading>
        <p>Your credit card will be billed by Homebliss and your credit card statement will read <b>"Paid to the order of: Salar Online Wholesale Pvt Ltd".</b></p>
        <br />
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isSeventhOpen">
        <uib-accordion-heading ng-click="accordian.isSeventhOpen = !accordian.isSeventhOpen;">
          Are there any hidden charges when I make a purchase on Homebliss (Octroi, Sales Tax)? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isSeventhOpen, 'glyphicon-chevron-right': !accordian.isSeventhOpen}"></i>
        </uib-accordion-heading>
        <p>There are absolutely no hidden charges when you make a purchase with us. The prices listed for all items are final and all-inclusive.<b> For certain pincodes free shipping and assembly are not provided. Additional shipping charges of 15% will be applied at checkout. You can see this message at the time of Pincode check for delivery
        feature / option.</b> The prices you see on our product pages are exactly what you pay for the item.
          <br/>
          <b>For any queries contact our Customer Support at 080 49170010 or email at customerservice@homebliss.in</b></p>
      </uib-accordion-group>

      <div class="faqHeader">Delivery & Order Status</div>

      <uib-accordion-group is-open="accordian.isEighthOpen">
        <uib-accordion-heading ng-click="accordian.isEighthOpen = !accordian.isEighthOpen;">
          How long will it take for me to receive my order <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isEighthOpen, 'glyphicon-chevron-right': !accordian.isEighthOpen}"></i>
        </uib-accordion-heading>
        <p>At the time of checking Pincode for delivery feature the estimate number of business days for delivery is shown. That's the time duration it will generally take.</p>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isNinthOpen">
        <uib-accordion-heading ng-click="accordian.isNinthOpen = !accordian.isNinthOpen;">
          How will I know how much my order will cost? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isNinthOpen, 'glyphicon-chevron-right': !accordian.isNinthOpen}"></i>
        </uib-accordion-heading>
        <p>Just add Homebliss items to your Cart and click the Checkout button, and Homebliss will calculate and display the guaranteed total cost in INR, including all shipping costs from our warehouse(s) to your selected destination, along with any taxes
          applicable.
          <br/><b>For certain pincodes free shipping and assembly are not provided. Additional shipping charges of 15% will be applied at checkout. You can see this message at the time of Pincode check for delivery feature / option. Customer Support at 08049170010 for any queries or email at customerservice@homebliss.in</b></p>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isTenthOpen">
        <uib-accordion-heading ng-click="accordian.isTenthOpen = !accordian.isTenthOpen;">
          Are there any additional costs that will be due upon receipt of my order? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isTenthOpen, 'glyphicon-chevron-right': !accordian.isTenthOpen}"></i>
        </uib-accordion-heading>
        <p>No. When you use the Homebliss global checkout, you will be provided with a guaranteed order total in INR.
          <br/>The order total presented will be the exact amount that you will be billed by Homebliss. There will never be any additional costs billed upon delivery or due</p>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isEleventhOpen">
        <uib-accordion-heading ng-click="accordian.isEleventhOpen = !accordian.isEleventhOpen;">
          How can I track my order? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isEleventhOpen, 'glyphicon-chevron-right': !accordian.isEleventhOpen}"></i>
        </uib-accordion-heading>
        <p>As we have confirmed the Goods will be shipped through our preferred delivery partner HNG-House & Garden.
          <br/> Tracking information is provided via email for most orders. If tracking information is provided, you can track your order online by login in to your Mobile App under "My Order". You can also track your order on www.Homebliss.in under "Track
          Order" .
          <b>At the time of checking Pincode for delivery feature the estimate number of business days for delivery is shown. That's the time duration it will generally take.</b></p>
        <p>If your order has shipped but no tracking information was provided via email, then know that your order has been shipped regardless. It can take up to 24 hours to update tracking information. Also, please allow up to number of days shown during
          the checking Pincode for delivery feature. For most Standard Shipping orders with exception to those special circumstances mentioned in the "Exceptions to Our Shipping and Delivery Policy" section on this page.
          <br/>If you have not received your order within estimate number of business days for delivery as shown and your order was not an "exception" order, please feel free to e-mail customerservice@homebliss.in or Contact Customer Support at 080 49170010
          for any queries.</p>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isTwelthOpen">
        <uib-accordion-heading ng-click="accordian.isTwelthOpen = !accordian.isTwelthOpen;">
          Exceptions to Our Shipping and Delivery Policy? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isTwelthOpen, 'glyphicon-chevron-right': !accordian.isTwelthOpen}"></i>
        </uib-accordion-heading>
        <p>The following exceptions will require extended shipment and/or delivery times:
          <li>Products that are normally stocked but that are temporarily out of stock.</li>
          <li>Products that are not normally stocked and must therefore be special ordered.</li>
          <li>Items that transit thru states requiring special entry permits or Octroi such as in West Bengal, Maharashtra, Kerala etc. Under such circumstances, you will be emailed regarding the specifics of your situation.</li>
          <li>Products which are imported from outside India.</li>
          <li> Post-delivery issues like damage/defect or complaints/queries --> contact CS on 080-49170010 or email at customerservice@homebliss.in</li>
          <li> For assembly of furniture products to contact on 080-49170020 or email at customerservice@homebliss.in</li>
        </p>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isThirteenth">
        <uib-accordion-heading ng-click="accordian.isThirteenth = !accordian.isThirteenth;">
          What do the different order statuses mean?<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isThirteenth, 'glyphicon-chevron-right': !accordian.isThirteenth}"></i>
        </uib-accordion-heading>
        <p><b>Payment Pending Authorization:</b> Your order has been logged and we are waiting for authorization from the payment gateway.
          <br/>
          <b>Payment Authorized, Order under Processing: </b>We have received authorization from the payment gateway and are processing your order. Order Shipped: Your order has been shipped out of our warehouse and is on its way to your delivery location.
          <br/>
          <b>Order Cancelled</b>: The order was cancelled.</p>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isFourteenth">
        <uib-accordion-heading ng-click="accordian.isFourteenth = !accordian.isFourteenth;">
          How can I cancel an order?<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isFourteenth, 'glyphicon-chevron-right': !accordian.isFourteenth}"></i>
        </uib-accordion-heading>
        <p>Customer Order Cancellation Policy You can cancel order within 24 hrs. from the confirmation.Please contact CS on 080-49170010 or email at customerservice@homebliss.in</p>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isFifteenth">
        <uib-accordion-heading ng-click="accordian.isFifteenth = !accordian.isFifteenth;">
          Why an order can get cancelled?<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isFifteenth, 'glyphicon-chevron-right': !accordian.isFifteenth}"></i>
        </uib-accordion-heading>
        <p>Homebliss Retail reserves the right to cancel any order without any explanation for doing so, under situations where Homebliss Retail is not able to meet the requirement of the order placed, or the order so placed/cancelled does not comply with
          the Homebliss / HNG Retail policy, or for any other reason. However, Homebliss Retail will ensure that any communication regarding cancellation of an order so cancelled is intimated within appropriate time frame to the concerned, person and
          any applicable refund is made within a reasonable time period. In case of product orders cancelled by Homebliss Retail due to unavailability of products or delays in fulfilment, Homebliss Retail will provide 100% refund for that product.</p>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isSixteentheenth">
        <uib-accordion-heading ng-click="accordian.isSixteentheenth = !accordian.isSixteentheenth;">
          How do I know my order has been confirmed?<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isSixteentheenth, 'glyphicon-chevron-right': !accordian.isSixteentheenth}"></i>
        </uib-accordion-heading>
        <p>Once your payment has been successfully made, your order is processed internally (andimmediately). We will send a confirmation mail for your order, to the email address associated with your Homebliss order/account. In this mail you will be provided
          with a unique Order ID (e.g. OD01202130213) for your reference with our customer service team, a list of the item/s you have ordered, and the expected time of delivery.</p>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isSeventeenth">
        <uib-accordion-heading ng-click="accordian.isSeventeenth = !accordian.isSeventeenth;">
          Will the delivery and installation be done on the same day?<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isSeventeenth, 'glyphicon-chevron-right': !accordian.isSeventeenth}"></i>
        </uib-accordion-heading>
        <p>Since we have tie-ups with various logistic partners, it might not be possible for us to get it installed on the same day. Our teams would co-ordinate with you before and after delivery and get the installation within 72 hours of delivery.</p>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isEighteenth">
        <uib-accordion-heading ng-click="accordian.isEighteenth = !accordian.isEighteenth;">
          What if I get something other than what I had ordered?<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isEighteenth, 'glyphicon-chevron-right': !accordian.isEighteenth}"></i>
        </uib-accordion-heading>
        <p>We will replace it immediately.</p>
      </uib-accordion-group>

      <uib-accordion-group is-open="accordian.isNinteenthOpen">
        <uib-accordion-heading ng-click="accordian.isNinteenthOpen = !accordian.isNinteenthOpen;">
          Will you be charging for transportation and installation?<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isNinteenthOpen, 'glyphicon-chevron-right': !accordian.isNinteenthOpen}"></i>
        </uib-accordion-heading>
        <p>No, we provide free assembly and installation services for most of our products. However for certain pincodes, we may not have an assembly partner available locally. In such cases, we wouldn't be able to help. And this information will be presented
          to you in the order details page.
          <br/><b>For certain pincodes free shipping and assembly are not provided. Additional shipping charges of 15% will be applied at checkout. You can see this message at the time of Pincode check for delivery feature / option. Customer Support at 080 49170010 for any queries or email at customerservice@homebliss.in</b></p>
      </uib-accordion-group>

    </uib-accordion>

  </div>
</div>
