<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Online Furniture, Furniture, House looks, Home Looks, House Collections, Home Collections, Home Decor, Interiors, Interiors Designers, Wooden Furniture, Home Furniture, "></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>


<div class="col-xs-12 fvtTop noPadding">
  <div class="col-md-10 col-md-offset-1 col-xs-12S">
    <div class="col-xs-12 noPadding favTopBtnGrp">
      <div class="noPadding col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 ">
        <div class="btn-group btn-group-justified " role="group">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default favTab" ng-class="{favTabSelected:tab === 'catalog' }" ng-click="setTab('catalog')">Your Favourite Collections</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default favTab" ng-class="{favTabSelected:tab === 'product' }" ng-click="setTab('product')">Your Favourite Products</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 noPadding">
      <div class="col-xs-12 favMargin" ng-if="tab=='catalog'" scroll-trigger="scrollTrigger('Collections')">
        <div ng-if="!likedCatalogs.length" class="emptyCart col-xs-12 text-center">No Collections Liked</div>
        <collection-card details="catalog" index="$index" templatetype="1" ng-repeat="catalog in likedCatalogs "></collection-card>
      </div>
      <div class="col-xs-12 favMargin noPadding" ng-if="tab=='product'" scroll-trigger="scrollTrigger('Products')">
        <div ng-if="!likedProducts.length" class="emptyCart col-xs-12 text-center noPadding">No Products Liked</div>
        <product-card product="product" catalogid="product.category_id" ng-repeat='product in likedProducts'></product-card>
      </div>
    </div>
  </div>
</div>
