<style>
.ngdialog.ngdialog-theme-default .ngdialog-content{
  width: 475px !important
}
.ngdialog.ngdialog-theme-default .ngdialog-content{
  margin-top: 9%;
}
</style>

<div class="col-xs-12">
  <div class=" col-sm-10 col-sm-offset-1 col-xs-12 text-center" ng-show="sendOtpSection" ng-form="sendOtpForm">
    <div class="col-xs-12 forgotHead text-center">Forgot Password?</div>
    <div class="col-xs-12 enterText">Enter you mobile number for verification</div>
    <div class="col-xs-12"><input class="form-control mobileField" ng-model="user.mobile" type="number" placeholder="0000-000-000" ng-minlength="10" minlength="10" maxlength="10" ng-maxlength="10"  required></div>
    <div class="col-xs-12 errorNotify">{{error}}</div>
    <div class="col-xs-12"><button class="btn btn-default submitForgot" ng-click="sendOtp()" ng-disabled="sendOtpForm.$invalid">SUBMIT</button></div>
  </div>

  <div class=" col-sm-10 col-sm-offset-1 col-xs-12 text-center" ng-show="verifyOtpSection" ng-form="verifyOtpForm">
    <div class="col-xs-12 forgotHead text-center">One time Password</div>
    <div class="col-xs-12 enterText">Please be patient! OTP might take some time.</div>
    <div class="col-xs-12"><input class="form-control mobileField" ng-model="verify.otp" type="number" placeholder="Enter Here" ng-required="true"  required></div>
    <div class="col-xs-12 errorNotify">{{error}}</div>
    <div class="col-xs-12"><button class="btn btn-default submitForgot" ng-click="sendOtp()" ng-show="!verify.otp">Resend</button></div>
    <div class="col-xs-12"><button class="btn btn-default submitForgot" ng-click="verifyOtp()" ng-show="verify.otp" ng-disabled="verifyOtpForm.$invalid">Verify</button></div>
  </div>

  <div class=" col-sm-10 col-sm-offset-1 col-xs-12 text-center" ng-form="changePassword" ng-show="resetSection">
    <div class="col-xs-12 forgotHead text-center">Create New Password</div>
    <div class="col-xs-12"><input class="form-control mobileField confirmPassword" ng-model="reset.password" type="password" placeholder="New Password" ng-required="true"  required></div>
    <div class="col-xs-12"><input class="form-control mobileField confirmPassword" ng-model="confirm" type="password" placeholder="Confirm Password" ng-required="true"  required></div>
    <div class="col-xs-12 errorNotify" ><span ng-if="reset.password &&  reset.password != confirm">Password does not match</span></div>
    <div class="col-xs-12"><button class="btn btn-default submitForgot" ng-click="resetPassword()" ng-disabled="reset.password != confirm || changePassword.$invalid ">SUBMIT</button></div>
  </div>
</div>
