<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Bakeware, Rugs, Curtains, Garden, Mattresses, Pillows, Storage, Shelves, Book Shefls, Outdoor furniture, Home Appliances, Tableware, Glassware, Serveware "></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>


<style>
  md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label,
  md-input-container:not(.md-input-invalid).md-input-has-value label {
    color: #A9758B !important;
  }

  md-input-container.md-default-theme .md-input,
  md-input-container .md-input {
    border-color: #A9758B !important;
  }

  md-input-container .md-input:invalid {
    border-color: rgba(0, 0, 0, 0.12) !important;
  }

  md-input-container.md-default-theme .md-input,
  md-input-container .md-input {
    color: #666 !important;
  }

  .md-block label {
    color: rgba(0, 0, 0, 0.26) !important;
  }
</style>

<div class="col-xs-12 noPadding  myProfileContainer">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 myProfileInner mainContainer">
    <div class="col-xs-12 text-center myProfImgContainer">
      <div class="col-xs-12">
        <img ng-src="{{'http://39ab864144ff459971dc-6426d144e3e5a54f03c22c62e6c27562.r98.cf1.rackcdn.com/'+userDetails.photo_url}}" class="myProfImg" ng-if="userDetails.photo_url&&userDetails.photo_url.length<=50">
        <img ng-src="{{userDetails.photo_url}}" class="myProfImg" ng-if="userDetails.photo_url&&userDetails.photo_url.length>50">
        <img ng-src="../images/default_boy.jpg" class="myProfImg" ng-if="!userDetails.photo_url">
        <label class="cameraIcon" for="photoSelectBtn">
          <img ng-src="../images/upload_photo.png">
          <input ng-hide="true" id="photoSelectBtn" type="file" ngf-select="uploadFiles($file, $invalidFiles)" ngf-accept="'image/*'" ngf-max-size="4MB">
        </label>
      </div>
      <div class="col-xs-12 myProfName">{{userDetails.first_name}} {{userDetails.last_name}}</div>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 noPadding uploadProgressBar" ng-if="uploading">
      <div progress-bar="" id="progressChart" data-total="100" data-complete="progressPercentage"></div>
    </div>

    <div class="col-xs-12">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <form name="myProfileForm" ng-submit="apiCall()" id="UpdateForm">
          <div class="col-sm-6 col-xs-12 noPadding">
            <md-input-container class="md-block myProfTextContainers">
              <input ng-model="userDetails.first_name" type="text" placeholder="First Name" ng-change="checkForChange()" required>
            </md-input-container>
          </div>
          <div class="col-sm-6 col-xs-12  myProflastName">
            <md-input-container class="md-block myProfTextContainers">
              <input ng-model="userDetails.last_name" type="text" placeholder="Last Name" ng-change="checkForChange()">
            </md-input-container>
          </div>
          <div class="col-xs-12 noPadding">
            <md-input-container class="md-block myProfTextContainers">
              <input ng-model="userDetails.email" type="email" placeholder="Email" ng-pattern="/^.+@.+\..+$/" ng-readonly="userDetails.email">
            </md-input-container>
          </div>
          <div class="col-xs-12 noPadding">
            <md-input-container class="md-block">
              <input ng-model="userDetails.mobile" type="text" ng-minlength="10" minlength="10" maxlength="10" ng-maxlength="10" placeholder="Mobile Number" ng-change="checkForChange()" ng-readonly="userDetails.mobile">
            </md-input-container>
          </div>
          <div class="col-xs-12 errorNotify">{{error}}</div>
          <div class="col-xs-12 text-center myProfUpdate">
            <button type="submit" class="myProfBtn btn btn-default" ng-disabled="myProfileForm.$invalid" ng-show="showButton">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
