<div class="navigation col-xs-12 noPadding">
  <div class="col-xs-12 noPadding navDivider">
    <div class="col-md-10 col-md-offset-1 col-xs-12 navBar" style="padding-bottom:5px">
      <div class="col-xs-12 noPadding">
        <a href="/"><img src="../images/homebliss_logo.78f99094.png" class="pull-left logo smallhide"></a>
        <span  class="pull-left hamburger screenHide cartIcon" ng-click="$root.menu = !$root.menu; smSearch=false">w</span>
        <a href="/"><img src="../images/hb_logo.a10724fd.svg" class="pull-left logo screenHide"></a>
        <span class="navsSm pull-right" ng-click="smSearch = !smSearch; $root.menu=false">
            <span class="cartIcon">r</span>
        </span>
        <span class="navsSm pull-right" ng-click="cartNavigation()">
          <span class="cartIcon">q</span>
          <!-- <img src="../images/cart.4f7399f9.png"> -->
          <span class="cartSmCount" ng-if="$root.itemCount">{{$root.itemCount}}</span>
        </span>
        <span class="navsSm pull-right" ng-click="wishListNavigate();$root.menu = false">
          <a class="cartIcon">e</a>
          <!-- <span class="cartSmCount" ng-if="$root.wishlistCount" style="margin-right: 10%;">{{$root.wishlistCount}}</span> -->
        </span>

        <span class="pull-right signInTxt smallhide" ng-show="!userName" ng-click="clickToSignIn();">
          Sign In
        </span>
        <span class="pull-right signInTxt smallhide" ng-show="!userName" ng-click="clickToSignUp();">
          Sign Up
        </span>

        <span class="pull-right signInTxt dropdown smallhide" ng-show="userName">
          <a class="dropdown-toggle" data-toggle="dropdown">{{info.first_name}} <span class="caret"></span></a>
          <ul class="dropdown-menu customMenu">
            <li><a ng-click="gotToMyProfile()">My Profile</a></li>
            <li><a href='' ng-click="logout()">Logout</a></li>
          </ul>
        </span>

        <span class="pull-right cartBtn" ng-click="cartNavigation()" ng-hide="$root.flashSale && $root.currentTab == 'address'">
          <img src="../images/cart.4f7399f9.png" class="pull-left">
          <span class="pull-right" style="padding: 2px 0px 0px 6px;" ng-if="$root.itemCount<=1">{{$root.itemCount}} item</span>
          <span class="pull-right" style="padding: 2px 0px 0px 6px;" ng-if="$root.itemCount>1">{{$root.itemCount}} items</span>
        </span>
        <span class=" pull-right" ng-click="wishListNavigate()">
          <a class="pull-right wishlist rightLinks">{{$root.wishlistCount}}</a>
        </span>
        <div class="col-xs-12 noPadding smCartPage" ng-if="$root.currentTab == 'cart' && windowSize < 500">
          <div class="col-xs-12">
            <span class="pull-left youItems">Your Items ({{$root.itemCount}})</span>
            <span class="pull-right dottedPrice"><img src="../images/cart_sm.5ca87f2f.png" class="smCartIcon"> &#x20B9; {{$root.totalProductPrice}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 noPadding smallNavBg" ng-show="$root.menu" ng-click="$root.menu=false">
    <div class="col-xs-12 screenHide smallNav noPadding" style="height:{{windowHeight}}px">
      <a ng-click="gotToMyProfile()" class="inactiveNavTab "  ng-show="userName"><li class="pull-left navLinks nameAndEmailSEction">{{::info.first_name}}<br><i class="smEmailSection">{{info.email}}</i></li></a>
      <a ng-click="gotToCollection()"  class="inactiveNavTab"><li class="pull-left navLinks"  ng-class="{activeNavTab:$root.currentTab == 'collection'}">Collections</li></a>
      <a ng-click="gotToDesignersPage()" class="inactiveNavTab"><li class="pull-left navLinks" ng-class="{activeNavTab:$root.currentTab == 'designer'}">Designers</li></a>
      <!-- <a ng-click="flashSaleClick()"><li class="pull-left navLinks flashSaleBg"  ng-class="{activeNavTab:$root.currentTab == 'flashSale'}" > <img src="../images/flash_sale_bg.5a7aad51.gif"> </li></a> -->
      <a href="" class="inactiveNavTab"><li class="pull-left navLinks" ng-class="{activeNavTab:$root.currentTab == 'photo'}"  ng-click="photoUploadPopUp()">Add your own collection</li></a>
      <a href="" class="inactiveNavTab" ng-show="userName"><li class="pull-left navLinks" ng-class="{activeNavTab:$root.currentTab == 'logout'}" ng-click="logout();">Log-out</li></a>
      <a href="" class="inactiveNavTab" ng-show="!userName" ng-click="clickToSignIn()"><li class="pull-left navLinks" ng-class="{activeNavTab:$root.currentTab == 'signIn'}">Signin</li></a>
      <a href="" class="inactiveNavTab" ng-show="!userName" ng-click="clickToSignUp()"><li class="pull-left navLinks" ng-class="{activeNavTab:$root.currentTab == 'signIn'}">Signup</li></a>
    </div>
  </div>

  <div class="col-xs-12 noPadding navBar" id="search">
    <div class="col-md-10 col-md-offset-1 smallhide">
      <a ng-click="gotToCollection()" class="inactiveNavTab"><li class="pull-left navLinks " ng-class="{activeNavTab:$root.currentTab == 'collection'}">Collections</li></a>
      <a ng-click="gotToDesignersPage()" class="inactiveNavTab"><li class="pull-left navLinks" ng-class="{activeNavTab:$root.currentTab == 'designer'}">Designers</li></a>
      <!-- <a ng-click="flashSaleClick()" class="inactiveNavTab "><li class="pull-left navLinks flashSaleBg"   ng-class="{activeNavTab:$root.currentTab == 'flashSale'}"><img src="../images/flash_sale_bg.5a7aad51.gif"></li></a> -->
      <a href="" class="inactiveNavTab"><li class="pull-left navLinks" ng-class="{activeNavTab:$root.currentTab == 'photo'}"  ng-click="photoUploadPopUp()">Add your own collection</li></a>
      <li class="pull-right searchDiv">
        <div class="searchBar">
        <input type="text" class="form-control searchBox pull-left" ng-model="$root.search"
         ng-enter="onInput()"
         ng-model-options="modelOptions"
         uib-typeahead="keyword for keyword in getKeyWords($viewValue)"
         typeahead-on-select="onInput($model)"
         placeholder="Search"
         typeahead-loading="loadingLocations"
         typeahead-no-results="noResults">
        <span class="searchBtn text-center pull-left" ng-click="onInput()"><img src="../images/search.e8537fd8.png"></span>
      </div>
      </li>
    </div>
  </div>
  <div class="col-xs-12 smallScreenNav" ng-show="smSearch" >
    <input type="text" class="form-control smSmall pull-left col-xs-8" ng-model="$root.search"
    ng-enter="onInput()"
    ng-model-options="modelOptions"
    typeahead-on-select="onInput($model)"
    uib-typeahead="keyword.name for keyword in keywords "
    placeholder="Search" >
    <button class="btn btn-default goBtn pull-left" ng-click="onInput()" ng-click="smSearch=false" >GO</button>
  </div>
</div>
