<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Bakeware, Rugs, Curtains, Garden, Mattresses, Pillows, Storage, Shelves, Book Shefls, Outdoor furniture, Home Appliances, Tableware, Glassware, Serveware "></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>


<div class="col-md-12 col-sm-12 col-xs-12 noPadding orderHistoryContainer">
  <div class="col-md-10 col-md-offset-1 col-xs-12 ">
    <div class="col-md-12 col-xs-12 noPadding" ng-if="orders.length">
      <div class="col-xs-12 noPadding">
        <a href="/testimonials">
          <div class="col-md-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 feedbackBtn text-center">Give Us your Review & Feedback</div>
        </a>
      </div>
      <div class="col-xs-12 noPadding" ng-repeat="order in orders">
        <div class="col-xs-12 noPadding orderContainer" ng-repeat="product in order.products" ng-if="largeScreen">
          <div class="col-md-3 orderImgContainer text-center">
            <img ng-src="{{product.product_image}}" />
          </div>

          <div class="col-md-9 orderDetailsContainer">
            <div class="col-md-4 orderNo orderPad pull-left">
              <p>Order No: <b>{{order.orders_id}}</b></p>
              <p class="orderDate">{{dateFormat(order.orders_date)|date:'fullDate'}}</p>
            </div>

            <div class="col-md-8 orderStatusContainer noPadding">
              <span class="orderStatus pull-right" ng-if="product.order_status!= 'Delivered'">
                <p class="pull-right">Order Status</p>
                <p class="pull-right prepare">Preparing for Dispatch</p>
              </span>
              <span class="col-md-5 orderStatus delivered pull-right" ng-if="product.order_status== 'Delivered'">
                <p class="pull-right">Delivered</p>
                <p class="pull-right"><i>on 28-Apr-2016</i></p>
              </span>

              <span class="toBeDelivered orderPad pull-right">
                <div class="col-md-3"><img src="../images/dlvry_truck.229da22c.png"></div>
                <div class="col-md-9">
                  <p>Expected Delivery On</p>
                  <p class="toBeDeliveredDate">{{product.expected_delivery}} days</p>
                </div>
              </span>
            </div>

            <hr class="col-md-12 noPadding trackOrderHr" />

            <div class="col-md-12 noPadding">
              <div class="col-md-5 orderTitle orderPad">
                <p>{{product.product_title}}</p>
              </div>
              <div class="col-md-1 orderPad orderQuantity text-center">
                <p>Quanity</p>
                <p>{{product.quantity}}</p>
              </div>
              <div class="col-md-3 orderPad orderPrice text-center">
                <p>&#8377;{{product.product_price}}/-</p>
              </div>
              <div class="col-md-offset-1 col-md-2 orderPad orderHelp text-center">
                <div class="col-md-12 helpContact">
                  <p>Need Help?</p>
                  <p>080 49170010</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 noPadding orderContainer" ng-repeat="product in order.products" ng-if="!largeScreen">
          <div class="col-xs-12 orderNo orderPad pull-left smOrderScreen">
            <p>Order No: <b>{{order.orders_id}}</b></p>
            <p class="orderDate">{{dateFormat(order.orders_date)|date:'fullDate'}}</p>
          </div>

          <div class="col-xs-12 noPadding smallOrder">
            `
            <div class="col-xs-5 orderImgContainer text-center noPadding">
              <img ng-src="{{product.product_image}}" style="width:100%" />
            </div>
            <div class="col-xs-7 orderTitle ">
              <p>{{product.product_title}}</p>
              <div class="col-xs-12 orderPrice noPadding">
                <p>&#8377;{{product.product_price}}/-</p>
              </div>
              <div class="col-xs-12 orderQuantity noPadding">
                <p>Quanity {{product.quantity}}</p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 noPadding smallDelSection">
            <span class="col-xs-6 orderStatusContainer noPadding">
              <span class="orderStatus pull-left" ng-if="product.order_status!= 'Delivered'">
                <p class="pull-left">Order Status</p>
                <p class="pull-left prepare">Preparing for Dispatch</p>
              </span>
            <span class="orderStatus delivered pull-left" ng-if="product.order_status== 'Delivered'">
                <p class="pull-left">Delivered</p>
                <p class="pull-left"><i>on 28-Apr-2016</i></p>
              </span>
            </span>
            <div class="col-xs-6">
              <span class="col-xs-12 helpContact text-center">
                <p>Need Help?</p>
                <p>080 49170010</p>
              </span>
            </div>
          </div>
          <div class="smallExpctd col-xs-12 text-center noPadding" ng-if="product.order_status!= 'Delivered'">
            <div class="col-xs-4"><img src="../images/dlvry_truck.229da22c.png" class="pull-right smImage"></div>
            <div class="col-xs-8 ">
              <p class="smExpectedDelivery">Expected Delivery On</p>
              <p class="toBeDeliveredDate smExpectedDelivery">{{product.expected_delivery}} days</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 text-center emptyCart" ng-if="!orders.length">
      No Orders Made
    </div>
  </div>
</div>
