<style>
    .ngdialog.ngdialog-theme-default .ngdialog-content {
        margin-top: 0; !important;
    }
</style>

<div class="col-md-12 noPadding photoUploadContainer clearfix" ng-controller="photoUploadController">
    <div class="col-md-12">
        <div class="col-md-12 photoUploadBox">
            <div class="col-md-10 col-md-offset-1 photoUploadBtn text-center" ng-mouseenter="mouse = true" ng-mouseleave=" mouse = false">
                <label class="import-file">
                    <input  id="fileSelectBtn" type="file" ngf-select="uploadFiles($file, $invalidFiles)" ngf-accept="'image/*'" ngf-max-size="4MB">
                    <div class="UploadPhoto">+Upload Photo</div>
                    <img id='selectedImgPreview' src="{{prev_img}}" ng-if="prev_img" >
                </label>
                <div class="col-md-12 imgBtns" ng-if='prev_img && mouse'>
                    <div class="col-md-4 icns col-md-offset-2" id="edit" ng-click="changeImg();">&nbsp;</div>
                    <div class="col-md-4 icns" id="remove" ng-click="removeImg();">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 photoUploadDetailsBox">
            <md-input-container class="md-block">
                <input ng-model="photoUpload.title" type="text" placeholder="Title" required>
            </md-input-container>
            <md-input-container class="md-block" style="margin-bottom: 0;">
                <input ng-model="photoUpload.description" type="text" placeholder="Description" required>
            </md-input-container>
        </div>
    </div>
    <div class="clear"></div>
    <div class="col-xs-12 noPadding text-center">
        <button class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3  btn btn-default sendPhotoBtn" ng-if="!uploading" ng-disabled="!photoUpload.description || !photoUpload.title || !file" ng-click="uploadPhoto()">SEND</button>
        <div class="col-md-12 col-xs-12 uploadProgressBar" ng-if="uploading">
            <div progress-bar="" id="progressChart" data-total="100" data-complete="progressPercentage"></div>
        </div>
    </div>
</div>
