<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Online Furniture, Furniture, House looks, Home Looks, House Collections, Home Collections, Home Decor, Interiors, Interiors Designers, Wooden Furniture, Home Furniture "></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>

<div class="staticContainer col-xs-12 noPadding privacyPolicy">
  <div class="staticContent col-xs-12 col-md-10 col-md-offset-1">
    <div class="col-sm-10 col-sm-offset-1 staticOuter">
      <div class="faqHeader">Privacy Policy</div>
      <p style="margin-bottom:22px">We do not sell or rent your personal information to third parties for their marketing purposes without your explicit consent, and only use your information as described below. We view protection of users' privacy as a very important community principle.
        We understand clearly that you and your information is one of our most important assets. We store and process your information on computers located in various geographies including the United States. The servers are protected by physical as well
        as technological security devices offered by third party vendors. Homebliss.in does not guarantee thenature and extent of security offered by such vendors. This Privacy Policy describes the manner inwhich your data is collected and used by Homebliss.in.
        You are advised to please read this PrivacyPolicy carefully. By accessing the services provided by Homebliss.in you agree to the collection and use of your data by Homebliss.in in the manner provided in this Privacy Policy.</p>
      <uib-accordion close-others="accordianDetails" ng-click="toggleOpen($event)">
        <uib-accordion-group is-open="accordian.isFirstOpen">
          <uib-accordion-heading>
            What information is, or may be, collected from you? <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isFirstOpen, 'glyphicon-chevron-right': !accordian.isFirstOpen}"></i>
          </uib-accordion-heading>
          <p>We will automatically receive and collect certain anonymous information in standard usage logs through our Web server, including computer-identification information obtained from "cookies," sent to your browser from:</p>
          <ul>
            <li>web server cookie stored on your hard drive</li>
            <li>an IP address, assigned to the computer which you use</li>
            <li>the domain server through which you access our service</li>
            <li>the type of computer you're using</li>
            <li>the type of web browser you're using</li>
          </ul>
          <p>We may collect the following personally identifiable information about you:</p>
          <ul>
            <li>name including first and last name</li>
            <li>alternate email address</li>
            <li>mobile phone number and contact details</li>
            <li>ZIP/Postal code</li>
            <li>demographic profile (like your age, gender, occupation, education, address and durables owned)
            </li>
            <li>preferences and interests (such as news, sports, travel and so on)</li>
            <li>financial information (like account or credit card numbers) and</li>
            <li>Opinions of features on the Sites (i.e., websites that are managed, operated or licensed by the sponsors of Homebliss.in) websites managed, operated or licensed by</li>
          </ul>
          <p>We may also collect the following information:</p>
          <ul>
            <li>pages on our site you visit/access</li>
            <li>links you click on the Sites</li>
            <li>number of times you access pages</li>
            <li>information we collect as you access and use our service, including device information, location and network carrier</li>
          </ul>
          <p>Homebliss.in only displays the product catalogue. At checkout, your order information is forwarded to our in-country retail partner for payment and fulfillment.
            <br/> You can terminate your account at any time. However, your information may remain stored in archive on our servers even after deletion or termination of your account.</p>
        </uib-accordion-group>

        <uib-accordion-group is-open="accordian.isSecondOpen">
          <uib-accordion-heading>
            Who collects the information<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isSecondOpen, 'glyphicon-chevron-right': !accordian.isSecondOpen}"></i>
          </uib-accordion-heading>
          <p>We will collect anonymous traffic information from you when you visit the Sites.We will collect personally identifiable information about you only as part of a voluntary registration process, on-line survey, or contest, or any combination thereof.We
            are not responsible for the privacy practices of Linked Sites.</p>
        </uib-accordion-group>

        <uib-accordion-group is-open="accordian.isThirdOpen">
          <uib-accordion-heading>
            How is the information used?<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isThirdOpen, 'glyphicon-chevron-right': !accordian.isThirdOpen}"></i>
          </uib-accordion-heading>
          <p>We use your personal information to:</p>
          <ul>
            <li>help us provide personalized features;</li>
            <li>tailor the Sites to your need or interest;</li>
            <li>promote offers through our business associates and partners;</li>
            <li>get in touch with you when necessary;</li>
            <li>provide the services requested by you; and</li>
            <li>Preserve social history as governed by existing law or policy.</li>
          </ul>
          <p>We use contact information internally to:</p>
          <ul>
            <li>direct our efforts for product improvement;</li>
            <li>contact you as a survey respondent;</li>
            <li>notify you if you win any contest; and</li>
            <li>Send you promotional materials from our contest sponsors or advertisers.</li>
            <li>personalize the app for you</li>
            <li>perform behavioral analytics</li>
          </ul>
          <p>Generally, we use anonymous traffic information to:</p>
          <ul>
            <li>remind us of who you are in order to deliver to you a better and more personalized service from both an advertising and an editorial perspective;</li>
            <li>recognize your access privileges to our the Sites;</li>
            <li>track your entries in some of our promotions, sweepstakes and contests to indicate a player's progress through the promotion and to track entries, submissions, and status in prize drawings;</li>
            <li>make sure that you don't see the same ad repeatedly;</li>
            <li>help diagnose problems with our server;</li>
            <li>administer the Sites; and</li>
            <li>Track your session so that we can understand better how people use the Sites.</li>
          </ul>
        </uib-accordion-group>

        <uib-accordion-group is-open="accordian.isFourthOpen">
          <uib-accordion-heading>
            With whom will your information be shared?<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isFourthOpen, 'glyphicon-chevron-right': !accordian.isFourthOpen}"></i>
          </uib-accordion-heading>
          <p>We will not use your financial information for any purpose other than to complete a transaction with you.</p>
          <p>We do not rent, sell or share your personal information other than as provided herein, and we will not disclose any of your personally identifiable information to third parties unless:</p>
          <ul>
            <li>we have your permission to provide products or services you've requested for;</li>
            <li>is shared with our business associates and partners for promotional offers;</li>
            <li>to help investigate, prevent or take action regarding unlawful and illegal activities, suspected fraud, potential threat to the safety or security of any person, violations of Homebliss.in terms of use, or defend against legal claims;</li>
            <li>in special circumstances such as compliance with subpoenas, court orders, requests/order from legal authorities or law enforcement agencies requiring such disclosure;</li>
          </ul>
          <p>Please do note that personal information is stored on third party servers. We may, however, distribute or license aggregated data that does not contain any reference to you.We share your information with advertisers on an aggregate basis only.
          </p>
        </uib-accordion-group>

        <uib-accordion-group is-open="accordian.isFifthOpen">
          <uib-accordion-heading>
            What choices are available to you regarding collection, use and distribution of your information?<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isFifthOpen, 'glyphicon-chevron-right': !accordian.isFifthOpen}"></i>
          </uib-accordion-heading>
          <p>Supplying personally identifiable information is entirely voluntary. You are not required to register with us in order to use our sites. However, we offer some services only to visitors who do register. You may change your interests at any time
            and may opt-in or opt-out of any marketing/promotional/newsletters mailings. Homebliss.in reserves the right to send you certain service related communication, considered to be a part of your Homebliss account, without offering you the facility
            to opt-out. You may update your information and change your account settings at any time.Upon request, we will remove/block your personally identifiable information from our database, thereby canceling your registration. See Contact Information
            below. However, your information may remain stored in archive on our servers even after deletion or termination of your account.If we plan to use your personally identifiable information for any commercial purposes, we will notify you at the
            time we collect that information and allow you to opt-out of having your information used for those purposes.You can accept or decline the cookies. All sites that are customizable require that you accept cookies. You also must accept cookies
            to register as someone who can access some of our services. For information on how to set your browser to alert you to cookies, or to reject cookies, go to cookie central.</p>
        </uib-accordion-group>

        <uib-accordion-group is-open="accordian.isSixthOpen">
          <uib-accordion-heading>
            What security procedures are in place to protect information from loss, misuse or alteration?<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isSixthOpen, 'glyphicon-chevron-right': !accordian.isSixthOpen}"></i>
          </uib-accordion-heading>
          <p>To protect against the loss, misuse and alteration of the information under our control, we have in place physical, electronic and managerial procedures. For example, our servers are accessible only to authorized personnel, and your information
            is shared with respective personnel on need to know basis to complete the transaction and provide the services requested by you.Although we will endeavor to safeguard the confidentiality of your personally identifiable information, transmissions
            made by means of the Internet cannot be made absolutely secure. By using the Sites, you agree that we will have no liability for disclosure of your information due to errors in transmission or unauthorized acts of third parties.</p>
          <br />
        </uib-accordion-group>

        <uib-accordion-group is-open="accordian.isSeventhOpen">
          <uib-accordion-heading>
            How can you correct inaccuracies in the information?<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isSeventhOpen, 'glyphicon-chevron-right': !accordian.isSeventhOpen}"></i>
          </uib-accordion-heading>
          <p>Our App allow you to correct or update any information you have provided online. In the event of loss of access details you can send an e-mail to App@homebliss.in.</p>
        </uib-accordion-group>

        <uib-accordion-group is-open="accordian.isEighthOpen">
          <uib-accordion-heading>
            Policy Updates<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isEighthOpen, 'glyphicon-chevron-right': !accordian.isEighthOpen}"></i>
          </uib-accordion-heading>
          <p>We reserve the right to change or update this policy at any time. Such changes shall be effective immediately upon posting on this site.</p>
        </uib-accordion-group>
      </uib-accordion>

    </div>
  </div>
</div>
