<update-title title="{{currentProduct.product_title}}"></update-title>
<update-meta name="description" content="{{metaData}}"></update-meta>
<update-meta name="keywords" content="{{::keywords}}"></update-meta>
<update-meta property="og:title" content="{{currentProduct.product_title}}"></update-meta>
<update-meta property="og:description" content="{{metaData}}"></update-meta>


<div class="col-md-12 noPadding productDetailsContainer">
  <div class="col-md-10 col-md-offset-1 col-xs-12 zeroPadding">
    <div class="col-md-12 noPadding prodTopContainer" ng-mouseover="items=true">
      <div class="col-md-5 col-sm-12 noPadding ProdImgContainer" id="ProdImgContainer" resize>
        <div class="col-xs-12 prodMainImg">
          <img class="col-md-12 noPadding prodDetImg img-responsive" id="zoomImg" ng-src="{{currentImage}}" ez-zoom ez-zoom-image="{{currentImage}}" ez-zoom-config="{'zoomType': 'inner', 'cursor': 'crosshair', 'easing' : true, zoomWindowFadeIn: 500, zoomWindowFadeOut: 750,}"
              ng-swipe-left="prevImg()" ng-if="!noImage" />
          <img src="../images/hb_placeholder.9faa47b3.png" ng-if="noImage" style="width:100%">
          <!-- <div id="prev-prods" ng-if="productImages.length > 1" ng-click="prevImg()"></div>
          <div id="next-prods" ng-if="productImages.length > 1" ng-click="nextImg()"></div> -->
        </div>
        <div class="col-xs-12 prodImgGallery">
          <div class="col-xs-2 galImgDiv" ng-repeat="image in productImages | limitTo:limit:begin" ng-click="setImage(image.high_res);">
            <img ng-src="{{::image.low_res}}" class="prodGallImg noPadding" />
          </div>
          <div class="col-xs-1" id="prev-prods" ng-if="productImages.length > 6" ng-click="prevGallery()"></div>
          <div class="col-xs-1" id="next-prods" ng-if="productImages.length > 6" ng-click="nextGallery()"></div>
        </div>
        <span class="discount" ng-if="!flashSaleProduct.oos">{{flashSaleProduct.available_quantity}} in Stock!</span>
        <span class="discount" ng-if="flashSaleProduct.oos">Sold out</span>
      </div>
      <div class="col-md-7 col-sm-12 col-xs-12 noPadding prodDetContainer">
        <div class="col-md-12 col-xs-12 productDet" id="productDet">
          <h1 class="prodDetHd" style="font-weight:600">{{flashSaleProduct.offer_quote}}</h1>
          <div class="col-xs-12 noPadding notifyAdjst" ng-show="flashSaleProduct.oos">
            <a href="{{flashSaleProduct.sales_url}}" class="pull-left">
              <button class="btn btn-default flsghRgsBtn"> Register</button>
            </a>
            <span class="pull-left notifyText">to get notified for upcoming flash sales</span>
          </div>
          <div class="col-xs-12 col-md-10 col-md-offset-1 noPadding salesDiffPrices" style="margin-top:20px;">
            <div class="col-xs-4 col-md-4 noPadding">Homebliss</div>
            <div class="col-xs-4 col-md-4"><strike> {{flashSaleProduct.sales_price| currency:'&#8377;': "" : 0}}/-</strike></div>
            <div class="col-xs-4 col-md-4 text-center">&nbsp; {{flashSaleProduct.flashsale_price| currency:'&#8377;': "" : 0}}/-</div>
          </div>
          <div class="col-xs-12 noPadding col-md-10 col-md-offset-1 salesDiffPrices" ng-repeat="brand in flashSaleProduct.brands">
            <div class="col-xs-4 noPadding col-md-4" style="padding-top:20px">{{brand.brand_name}}</div>
            <div class="col-xs-4 col-md-4" style="padding-top:20px">{{brand.brand_price| currency:'&#8377;': "" : 0}}/-</div>
            <div class="col-xs-4 col-md-4 text-center noPadding" ng-show="brand.compare_url">
              <a href="{{brand.compare_url}}" target="_blank"  class="pull-right">
                <button class="btn btn-default zeroPadding addToCartBtn pull-right compareBlink cehckPriceAdjst" style="margin-top:13px;">Check Prices</button>
              </a>
            </div>
          </div>
          <div class=" col-xs-12 noPadding prodPriceSale">
            <span ng-if="!discounted">{{currentProduct.sales_price| currency:'&#8377;': "" : 0}}/-</span>
            <!-- <span ng-if="discounted"><strike> {{flashSaleProduct.sales_price| currency:'&#8377;': "" : 0}}/-</strike>&nbsp; {{flashSaleProduct.flashsale_price| currency:'&#8377;': "" : 0}}/-</span> -->
            <!-- <a href="{{flashSaleProduct.sales_url}}" target="_blank" ng-if="windowSize<= 500" class="pull-right"><span class="btn btn-default zeroPadding compareSmallScrrenBtn pull-right paginatnBtn smallCompareBntStyle">COMPARE<br>Price</span></a> -->
            <!-- <a href="{{flashSaleProduct.sales_url}}" target="_blank" ng-if="windowSize> 500" class="pull-right">
              <button class="btn btn-default paginatnBtn smallCompareBntStyle " ng-click="pagination();compareClick()" ng-hide="hidePagination||loading"><span class="blink_me">Compare<br>Price</span>
              </button>
            </a> -->
          </div>
          <div class="col-md-12 col-xs-12 skuLowerDiv noPadding text-center" ng-class="{salesStartDate:clock < startDate}">
            <div class="col-xs-12 noPadding" ng-show="clock >= startDate && clock < endDate">
              <span class="endsInText">Sale Ends in</span>
              <timer end-time="endDate" >
                <span class="saleTimerCount">{{days|numberFixedLen:2}}</span> <span class="seprator">:</span>
                <span class="saleTimerCount">{{hours|numberFixedLen:2}}</span> <span class="seprator">:</span>
                <span class="saleTimerCount">{{minutes|numberFixedLen:2}}</span>
                <div class="col-xs-12 noPadding text-center" style="margin-top:10px">
                  <span class="timerLabel">DD</span>
                  <span class="timerLabel">HH</span>
                  <span class="timerLabel">MM</span>
                </div>

                <!-- <span class="seprator">:</span><span class="saleTimerCount">{{seconds|numberFixedLen:2}}</span> -->
              </timer>
              </div>
              <div class="col-xs-12 noPadding text-center" ng-show="clock < startDate">
                <span class="endsInText">Starts in</span>
                <timer end-time="startDate">
                  <span class="saleTimerCount">{{days|numberFixedLen:2}}</span> <span class="seprator">:</span>
                  <span class="saleTimerCount">{{hours|numberFixedLen:2}}</span> <span class="seprator">:</span>
                  <span class="saleTimerCount">{{minutes|numberFixedLen:2}}</span>
                  <!-- <span class="seprator">:</span><span class="saleTimerCount">{{seconds|numberFixedLen:2}}</span> -->
                  <div class="col-xs-12 noPadding text-center" style="margin-top:10px">
                    <span class="timerLabel">DD</span>
                    <span class="timerLabel">HH</span>
                    <span class="timerLabel">MM</span>
                  </div>

                </timer>
              </div>
              <!-- {{startDate | date:'yyyy-MM-dd'}} Onwards -->
            </div>

          </div>
          <h1 class="prodDetHd col-xs-12" style="margin:14px 0px;padding:5px 15px;">{{currentProduct.product_title}}</h1>

          <div class="col-xs-12">
            SKU: {{payload.sku}}
          </div>

          <!-- <p class="prodSmllTxt" ng-if="!pincodeSet">Delivered in 14-21 days, Free shipping is available for selected pincodes</p> -->
          <div class="col-md-12 col-xs-12 zeroPadding noPadding">
            <div class="col-md-12 col-xs-12 noPadding prodPinBox">
              <div class="col-md-12 noPadding" ng-if="!pincodeSet">
                <form class="col-md-9 col-xs-9" ng-submit="checkPincode();">
                  <p>
                    <input type="number" placeholder="Enter pin code here" class="pincode-input" ng-model="checkPincodePayload.pincode" required>
                    <input type="submit" class="pincode-apply" value="" />
                  </p>
                  <p class="prodDelSmllTxt">*Some pincodes are subject to free shipping & assembly. Deliver only in India.</p>
                </form>
                <!-- <div class="col-md-3 col-xs-3 freeAssmbly"><img ng-if="currentProduct.features.assembly=='M' || currentProduct.features.assembly=='O'" src="../images/free_assbly.c923298e.png" class="img-responsive"></div> -->
              </div>
              <div class="col-md-12 col-xs-12 noPadding pincodeDetails" ng-if="pincodeSet">
                <div class="col-md-12">
                  <p ng-show="deliverable && freeDelivery" class="deliverableText"> <span class="pull-left">Pincode {{::checkPincodePayload.pincode}},</span> <img src="../images/btn_edit_hover.0ffe9652.png" class="pull-left" ng-click="changePincode()" /><span class="pull-left ">This product is eligible for Free Shipping to your location.</span>                    </p>
                  <p ng-if="deliverable && !freeDelivery" class="deliverableText"><span class="pull-left">Pincode {{::checkPincodePayload.pincode}}, </span> <img src="../images/btn_edit_hover.0ffe9652.png" class="pull-left" ng-click="changePincode()" /><span class="deliveryError">Free shipping and assembly are Not available at your pincode. Additional shipping charges of 15% will be applied of total bill at checkout.</p>
                  <p ng-if="!deliverable" class="undeliverableText"> <span class="pull-left"> Pincode {{::checkPincodePayload.pincode}},</span> <img src="../images/btn_edit_hover.0ffe9652.png" class="pull-left" ng-click="changePincode()" /><span class="pull-left deliveryError">Product cannot be delivered to your location.</span></p>
                  <hr class="col-md-12 noPadding" ng-if="deliverable" />
                  <p ng-if="deliverable" class="deliveryDays"><img src="../images/dlvry_truck.229da22c.png" ng-click="pincodeSet = false;" class="pull-left" /><span class="pull-left"> Delivery within {{::pincodeResponse['delivery-days']}} days.</span></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xs-12  prodType" ng-if="!smallScreen">
            <div class="col-xs-6 prodTypeLeft" ng-if="currentProduct.features.primary_material">
              <p class="clearfix colorMaterial">Material</p>
              <div class="col-xs-12 noPadding">
                {{currentProduct.features.primary_material}}
              </div>
            </div>
            <div class="col-xs-6" ng-class="{prodTypeRight:currentProduct.features.primary_material,noPadding:!currentProduct.features.primary_material}" ng-if="colorList.length||currentColor">
              <div class="col-xs-12 ">
                <p class="clearfix colorMaterial" ng-class="{colorMaterialSmall:sizeList.length}"><span class="pull-left">Color</span><span class="pull-left" ng-if="sizeList.length"> :{{currentColor}}</span></p>
                <span ng-repeat="(key, value) in productDetails.attributes" class="pull-left swatchAdjust" ng-if="!sizeList.length" ng-class="{colorSet:key ===payload.sku}">
                    <img ng-src="{{value.swatch}}" class="swatchImage" ng-click="setColorSize(key)" >
                  </span>
              </div>
            </div>
          </div>
          <div class="col-md-12 prodCartBox" style="padding:10px 15px;">
            <div class="prodSelectBox noPadding">
              <div class="mdInputContainer noPadding" ng-if="!smallScreen">
                <md-input-container class="pull-left" ng-if="sizeList.length" style="margin-right:5px">
                  <label>Size</label>
                  <md-select name="size" id="size" ng-model="size" data-ng-change="setColorSize(size,'size')" ng-model-options="{trackBy: '$value.key'}">
                    <md-option ng-repeat="value in sizeList" ng-value="{{value}}" ng-model="size">{{value.size}}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container class="pull-left" ng-hide="formSection">
                  <label>Quantity</label>
                  <md-select name="quantity" id="quantity" ng-model="quantity" data-ng-change="setQuantitySize(quantity)">
                    <md-option ng-repeat="value in quantityList |limitTo:flashSaleProduct.available_quantity" value="{{value}}" ng-model="quantity">{{value}}</md-option>
                  </md-select>
                </md-input-container>
              </div>
            </div>

            <div class="col-xs-12 noPadding materialsSmallScreen" ng-if="smallScreen">
              <div class="prodSelectBox noPadding col-xs-12">
                <div class="col-xs-12 mdInputContainer noPadding">
                  <md-input-container class="pull-left" ng-if="sizeList.length" style="margin-right:5px">
                    <label>Size</label>
                    <md-select name="size" id="size" ng-model="size" data-ng-change="setColorSize(size,'size')" ng-model-options="{trackBy: '$value.key'}">
                      <md-option ng-repeat="value in sizeList" ng-value="{{value}}" ng-model="size">{{value.size}}</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container class="pull-left" ng-hide="formSection">
                    <label>Quantity</label>
                    <md-select name="quantity" id="quantity" ng-model="quantity" data-ng-change="setQuantitySize(quantity)">
                      <md-option ng-repeat="value in quantityList |limitTo:flashSaleProduct.available_quantity" value="{{value}}" ng-model="quantity">{{value}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </div>
              <div class="col-xs-12 prodType">
                <div class="col-xs-6 prodTypeLeft" ng-if="currentProduct.features.primary_material">
                  <p class="clearfix colorMaterial">Material</p>
                  <div class="col-xs-12 noPadding">
                    {{currentProduct.features.primary_material}}
                  </div>
                </div>
                <div class="col-xs-6" ng-class="{prodTypeRight:currentProduct.features.primary_material,noPadding:!currentProduct.features.primary_material}" ng-if="colorList.length">
                  <div class="col-xs-12 ">
                    <p class="clearfix colorMaterial" ng-class="{colorMaterialSmall:sizeList.length}"><span class="pull-left">Color</span><span class="pull-left" ng-if="sizeList.length"> :{{currentColor}}</span></p>
                    <span ng-repeat="(key, value) in productDetails.attributes" class="pull-left swatchAdjust" ng-if="!sizeList.length" ng-class="{colorSet:key ===payload.sku}">
                        <img ng-src="{{value.swatch}}" class="swatchImage" ng-click="setColorSize(key)" >
                      </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- <a href="{{flashSaleProduct.sales_url}}" target="_blank" ng-if="windowSize> 500" ng-click="compareClick()"><button class="btn btn-default zeroPadding addToCartBtn pull-right compareBlink" style="margin-top:5px;">COMPARE</button></a> -->
            <div class="addToCartContainer zeroPadding pull-left smallScreenSticky">
              <button class="col-md-9 col-xs-12 btn btn-default zeroPadding addToCartBtn text-center btn btn-default" ng-click="goToAddressPage()" ng-if="clock >= startDate && clock < endDate">BUY NOW</button>
            </div>
          </div>
          <div class="col-md-12 col-xs-12">
            <!-- <div class="col-md-12 col-xs-12 skuContainer noPadding"> -->
              <!-- <div class="col-md-12 col-xs-12 skuUpperDiv noPadding">
                <p class="col-md-6  col-xs-12 pull-left sku"> SKU: {{payload.sku}} </p> -->
                <!-- <div class="skuImages pull-right">
                  <a href="https://www.pinterest.com/pin/create/button/?url=http://www.homebliss.in&media={{currentImage}}&description={{currentProduct.product_title}}" target="_blank" data-pin-do="buttonPin">
                    <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
                  </a>
                </div>
                <div class="skuImages pull-right">
                  <div fb-like="myModel.Url"></div>
                </div> -->
              <!-- </div> -->
              <!-- <div class="col-md-12 col-xs-12 skuLowerDiv noPadding text-center" ng-if="windowSize > 500" ng-class="{salesStartDate:clock < startDate}">
                <div class="col-xs-12 noPadding">
                  <timer end-time="endDate" ng-if="clock >= startDate && clock < endDate">
                    <span class="saleTimerCount">{{days|numberFixedLen:2}}</span> <span class="seprator">:</span>
                    <span class="saleTimerCount">{{hours|numberFixedLen:2}}</span> <span class="seprator">:</span>
                    <span class="saleTimerCount">{{minutes|numberFixedLen:2}}</span>
                    <span class="seprator">:</span><span class="saleTimerCount">{{seconds|numberFixedLen:2}}</span>
                  </div>
                </timer>
                <div class="col-xs-12 noPadding text-center" ng-if="clock < startDate">
                  <div class="col-xs-12 text-center" style="padding:1px 0 8px 0">Starts On</div>
                  <timer end-time="startDate">
                    <span class="saleTimerCount">{{days|numberFixedLen:2}}</span> <span class="seprator">:</span>
                    <span class="saleTimerCount">{{hours|numberFixedLen:2}}</span> <span class="seprator">:</span>
                    <span class="saleTimerCount">{{minutes|numberFixedLen:2}}</span>
                    <span class="seprator">:</span><span class="saleTimerCount">{{seconds|numberFixedLen:2}}</span>
                  </timer>
                  <div class="col-xs-12 noPadding text-center" style="margin-top:5px"><span class="timerLabel">DD</span><span class="timerLabel">HH</span><span class="timerLabel">MM</span><span class="timerLabel">SS</span></div> -->

                  <!-- {{startDate | date:'yyyy-MM-dd'}} Onwards -->
                <!-- </div>
              </div> -->

              <!-- <div class="col-xs-12 noPadding text-center" ng-hide="formSection" ng-if="windowSize > 500"><span class="timerLabel">DD</span><span class="timerLabel">HH</span><span class="timerLabel">MM</span><span class="timerLabel">SS</span></div> -->

              <!-- <p class="col-md-12  col-xs-12 moreLinks"><span class="pull-left" ng-click="goToSearch(currentProduct.categories_name ,currentProduct.features.brand )">More {{currentProduct.categories_name}} from {{currentProduct.features.brand}} | </span> <span class="pull-left moreLinksMargin" ng-click="goToSearch(currentProduct.categories_name)"> More {{productDetails.categories_name}} </span></p> -->
            <!-- </div>
          </div> -->
        <!-- </div> -->
      </div>

    </div>

  </div>
</div>

<div class="col-md-10 col-md-offset-1 col-xs-12" style="margin-top:15px;">
  <div class="col-md-12 noPadding">

    <div class="col-xs-12 noPadding smallScreen" id="pdpAccordion" style="margin-bottom:70px;">
      <uib-accordion close-others="accordianDetails">
        <uib-accordion-group is-open="accordian.isFirstOpen" ng-click="toggleOpen($event)">
          <uib-accordion-heading ng-click="accordian.isFirstOpen = !accordian.isFirstOpen; productDescriptionTab('ProductOverview')">
            Description <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isFirstOpen, 'glyphicon-chevron-right': !accordian.isFirstOpen}"></i>
          </uib-accordion-heading>
          <p ng-bind-html="currentProduct.description"></p>
          <p ng-bind-html="currentProduct.key_features"></p>
        </uib-accordion-group>
        <uib-accordion-group is-open="accordian.isSecondOpen">
          <uib-accordion-heading ng-click="accordian.isSecondOpen = !accordian.isSecondOpen; productDescriptionTab('ProductFeatures')">
            Product Dimension <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isSecondOpen, 'glyphicon-chevron-right': !accordian.isSecondOpen}"></i>
          </uib-accordion-heading>
          <p ng-bind-html="currentProduct.product_dimensions"></p>
        </uib-accordion-group>
        <uib-accordion-group is-open="accordian.isThirdOpen">
          <uib-accordion-heading ng-click="accordian.isThirdOpen = !accordian.isThirdOpen; productDescriptionTab('ProductOverview')">
            Quality Assurance & Warranty <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isThirdOpen, 'glyphicon-chevron-right': !accordian.isThirdOpen}"></i>
          </uib-accordion-heading>
          <p ng-bind-html="currentProduct.quality_assurance"></p>
          <p ng-bind-html="currentProduct.warranty"></p>
        </uib-accordion-group>
        <uib-accordion-group is-open="accordian.isFourthOpen">
          <uib-accordion-heading ng-click="accordian.isFourthOpen = !accordian.isFourthOpen; productDescriptionTab('ProductOverview')">
            Installation & Usage <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isFourthOpen, 'glyphicon-chevron-right': !accordian.isFourthOpen}"></i>
          </uib-accordion-heading>
          <p ng-bind-html="currentProduct.installation_and_usage" ng-if="currentProduct.installation_and_usage"></p>
          <p ng-bind-html="currentProduct['installation_&_usage']" ng-if="currentProduct['installation_&_usage']"></p>
        </uib-accordion-group>
        <uib-accordion-group is-open="accordian.isFifthOpen">
          <uib-accordion-heading ng-click="accordian.isFifthOpen = !accordian.isFifthOpen; productDescriptionTab('ProductOverview')">
            Care Instructions <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': accordian.isFifthOpen, 'glyphicon-chevron-right': !accordian.isFifthOpen}"></i>
          </uib-accordion-heading>
          <p ng-bind-html="currentProduct.care_instructions"></p>
        </uib-accordion-group>
      </uib-accordion>
    </div>

    <div class="col-xs-12 noPadding webScreen">
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="Description" ng-click="productDescriptionTab('ProductOverview')">
            <md-content class="md-padding">
              <p ng-bind-html="currentProduct.overview"></p>
              <p ng-bind-html="currentProduct.key_features"></p>
            </md-content>
          </md-tab>
          <md-tab label="Product Dimension" ng-click="productDescriptionTab('ProductFeatures')">
            <md-content class="md-padding">
              <p ng-bind-html="currentProduct.product_dimensions"></p>
            </md-content>
          </md-tab>
          <md-tab label="Quality Assurance & Warranty" ng-click="productDescriptionTab('ProductOverview')">
            <md-content class="md-padding">
              <p ng-bind-html="currentProduct.quality_assurance"></p>
              <p ng-bind-html="currentProduct.warranty"></p>
            </md-content>
          </md-tab>
          <md-tab label="Installation & Usage" ng-click="productDescriptionTab('ProductOverview')">
            <md-content class="md-padding">
              <p ng-bind-html="currentProduct.installation_and_usage" ng-if="currentProduct.installation_and_usage"></p>
              <p ng-bind-html="currentProduct['installation_&_usage']" ng-if="currentProduct['installation_&_usage']"></p>
            </md-content>
          </md-tab>
          <md-tab label="Care Instructions" ng-click="productDescriptionTab('ProductOverview')">
            <md-content class="md-padding">
              <p ng-bind-html="currentProduct.care_instructions"></p>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>
</div>
