<div class="col-md-3 col-sm-6 col-xs-12 noPadding productContainer pull-left" ng-hide="hideCard">
  <div class="loadingForCard" ng-show="loading"></div>
  <spinner2 class="spinnerTwo" ng-show="loading"></spinner2>
  <div class="product prodZoom">
    <div class="col-xs-12 noPadding">
      <div class="col-xs-12 noPadding prdtCardImage imageLoadingBg">
        <img class="collectionImg" ng-show="collectionImageLoaded" imageonload="collectionImageLoaded = true" ng-init="collectionImageLoaded=false" ng-src="{{::product.display_images[0].low_res}}" alt="{{::product.product_title}}"
            ng-click="gotoProductDetails(product.product_sku, catalogid)" />
      </div>
      <div class="col-xs-12 pdtOverLay" ng-if="product.oos" ng-click="gotoProductDetails(product.product_sku, catalogid)" >
        <span class="oosStatus">Out of stock.</span>
      </div>
    </div>
    <span class="productLikeBtn" ng-if="!product.is_liked_by_me" ng-click="likeUnLikeProduct('like')"></span>
    <span class="unClickableBtn" ng-if="loading"></span>
    <span class="productLikedBtn" ng-if="product.is_liked_by_me" ng-click="likeUnLikeProduct('unlike')"></span>
    <div class="col-xs-12 collectionProdDetails" ng-click="gotoProductDetails(product.product_sku, catalogid)">
      <span class="col-md-12 col-xs-12 collectnProductTitle text-left clear-fix">{{::product.product_title}}</span>
      <div class="col-md-12 col-xs-12 clear-fix prodBuyContainer">
        <span class="pull-right prodBuy text-center productPriceAdjt" style="position:absolute; right:0; z-index:1"analytics-on="click" analytics-event="BuyNowClicked {{product.product_titl}} / {{product.product_sku}}" analytics-category="SurfingCollections">BUY NOW</span>
        <span class="pull-left prodPrice" style="color:grey;padding:4px 0" ng-show="product.sales_price<product.list_price "><strike>{{::product.list_price | currency:'&#8377;': "" : 0}}/-</strike></span>
        <span class="pull-left prodPrice" style="padding-top:0px;clear:both" ng-class="{ withNoDiscount :product.sales_price>=product.list_price }">{{::product.sales_price | currency:'&#8377;': "" : 0}}/-</span>
      </div>
    </div>
  </div>
</div>
