<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Online Furniture, Furniture, House looks, Home Looks, House Collections, Home Collections, Home Decor, Interiors, Interiors Designers, Wooden Furniture, Home Furniture "></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>


<div class="col-md-12 noPadding questionsContainer">
  <div class="col-md-10 col-md-offset-1">
    <div class="col-md-12 noPadding askQuestion">
      <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 askQuestionTitle">
          <h3 class="pull-left">Ask Your Question</h3>
        </div>
        <form class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 askQuestionInput" ng-submit="askQuestion();">
          <div class="col-sm-2 col-xs-3 noPadding text-center" ng-show="userDetails">
            <img ng-src="{{'http://39ab864144ff459971dc-6426d144e3e5a54f03c22c62e6c27562.r98.cf1.rackcdn.com/'+userDetails.photo_url}}" class="col-sm-12 noPadding img-responsive askUserImg" ng-if="userDetails.photo_url&&userDetails.photo_url.length<=50">
            <img ng-src="{{userDetails.photo_url}}" class="col-sm-12 noPadding img-responsive askUserImg" ng-if="userDetails.photo_url&&userDetails.photo_url.length>50">
            <img ng-src="../images/default_boy.jpg" class="col-sm-12 noPadding img-responsive askUserImg" ng-if="!userDetails.photo_url">

            <!-- <img class=" col-sm-12 noPadding img-responsive askUserImg" ng-src="{{::userDetails.photo_url}}" /> -->
          </div>
          <div class="col-md-10 col-sm-10 col-xs-9 pull-left">
            <textarea ng-model="question" class="questInputContainer form-control" placeholder="Enter your question here" required id="testInput"></textarea>
          </div>
          <label for="photoSelectBtn" class="pull-left">
            <span class="pull-left attach-photo" aria-hidden="true"> Attach photo</span>
            <input ng-hide="true" id="photoSelectBtn" type="file" ngf-select="uploadFiles($file, $invalidFiles)" ngf-accept="'image/*'" ngf-max-size="4MB">
          </label>
          <button type="submit" class="col-md-4 col-xs-4 pull-right askBtn">Post</button>
          <div class="col-md-12 col-xs-12 noPadding uploadProgressBar" ng-if="uploading">
            <div progress-bar="" id="progressChart" data-total="100" data-complete="progressPercentage"></div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-12 col-xs-12 otherQuestions">
      <div class="col-md-12">
        <h4>See what others have asked</h4>
        <hr class="col-md-12 noPadding redHr" />
        <div class="col-md-12 col-xs-12 noPadding otherQuestionListContainer">
          <div class="col-md-12 col-xs-12 noPadding otherQuestionList" ng-repeat="question in questions">
            <div class="col-md-12 col-xs-12 noPadding">
              <img class="col-md-1 col-xs-1 noPadding img-responsive askUserImg" ng-src="{{::question.user_image}}" />
              <div class="col-md-11 noPadding">
                <v-accordion class="vAccordion--default col-md-12 noPadding otherQuestionTitle ">
                  <!-- add expanded attribute to open the section -->
                  <v-pane>
                    <v-pane-header>
                      {{::question.question}}&nbsp;
                    </v-pane-header>
                    <v-pane-content>
                      <div class="otherQuestionAnswer">{{::question.answer}}</div>
                      <div class="col-xs-12 noPadding" ng-if="question.image_url && question.image_url!='0'"><img src="{{::question.image_url}}"  class="questionAnswerImage"></div>
                    </v-pane-content>
                  </v-pane>
                </v-accordion>
                <p class="pull-left"><i>Posted By&nbsp;</i></p>
                <p class="pull-left otherQuestionUsername"><b>{{::question.user_name}}</b></p>
                <p class="pull-left"><i>, on {{::question.created_on}}</i></p>
                <!-- <p class="pull-right"><i>Updated 3 min ago  </i></p> -->
              </div>
              <hr class="col-md-12 col-xs-12 noPadding" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
