<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Online Furniture, Furniture, House looks, Home Looks, House Collections, Home Collections, Home Decor, Interiors, Interiors Designers, Wooden Furniture, Home Furniture "></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>


<div class="col-xs-12 noPadding searchResultHead">
  <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 noPadding collectionPage">
    <div class="col-xs-12 noPadding col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 serachResultSmallTab" ng-show="fromPage">
      <div class=" col-xs-12 collctionGreyTxt text-center resultCountSmScreen" ng-if="!fromPage"> {{catalogsCount+productsCount}} Results Found</div>
      <div class="btn-group btn-group-justified btnGrpSmScreen" role="group">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default favTab" ng-class="{favTabSelected:tab === 'catalogs' }" ng-click="setTab('catalogs')">{{catalogsCount}} Collections Found</button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default favTab" ng-class="{favTabSelected:tab === 'products' }" ng-click="setTab('products');">{{productsCount}} Products Found</button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 " ng-class="{noPadding:resultsOf === 'products',searchResultTopMargin:fromPage}">
      <div class="col-xs-12 noPadding" ng-if="resultsOf === 'catalogs'">
        <div class="col-xs-12 text-center collctionGreyTxt searchCount" ng-show="!errorMsg" ng-if="!fromPage">{{catalogsCount}} Catalogs Found</div>
        <collection-card details="collection" index="$index" templatetype="1" ng-repeat="collection in catalogs"></collection-card>
      </div>
      <div class="col-xs-12 noPadding" ng-if="resultsOf === 'products'">
        <div class="col-xs-12 text-center collctionGreyTxt searchCount" ng-show="!errorMsg" ng-if="!fromPage">{{productsCount}} Products Found</div>
        <product-card product="product" catalogid="product.category_id" ng-repeat='product in products'></product-card>
      </div>
    </div>
    <div ng-show="errorMsg" class="col-xs-12 text-center searchError">No {{resultsOf}} found</div>
  </div>
  <div class="col-xs-12 text-center">
    <button class="btn btn-default paginatnBtn" ng-click="pagination()" ng-show="hidePagination">Show More</button>
  </div>
</div>
