<div class="col-md-12 noPadding clearfix">
  <div class="col-md-6 noPadding smallscreenImg">
    <img ng-src="../images/sample_img.png" class="signUpSignInImg" ng-if="!$root.signUpImage"/>
    <img ng-src="{{$root.signInImage}}" class="signUpSignInImg" ng-if="$root.signInImage" />
  </div>
  <div class="col-md-6 col-xs-12 signInCont">
    <div class="col-md-12 signHeadTxt">Signin with</div>
    <div class="col-md-12 clearfix">
      <div class="facebookBttn clearfix text-center" ng-click="fbLogin()">
        <img src="../images/fb.b19e6448.png" class="pull-left" />
        <span class="pull-left">Facebook</span>
      </div>
    </div>
    <div class="col-md-12 text-center">OR</div>
    <div class="col-md-12 clearfix">
      <form name="userForm">
        <md-input-container class="md-block" ng-submit="signin();">
          <input ng-model="user.email" type="text" placeholder="Email/Phone Number" ng-required="true" autocomplete="off" required>
        </md-input-container>
        <md-input-container class="md-block">
          <input ng-model="user.password" type="{{inputType}}" placeholder="Password" required>
          <icon ng-click="hideShowPassword()"><img src="../images/show.1da0a62a.png" /> </icon>
        </md-input-container>
        <a class="pull-right forgotPassword" ng-click="forgotPassword()">Forgot Password?</a>
        <div class="col-xs-12 errorNotify">{{error}}</div>
        <button class="col-xs-12 signupBttn btn btn-default" ng-click="signin()" type="submit" ng-disabled="userForm.$invalid">Signin</button>
      </form>
    </div>
    <div class="col-md-12 signupTxt">Don't have an account? <a ng-click="clickToSignUp()" class="loginTxt">Signup</a>
      <div>
        <div class="col-md-12 signBttmText">By clicking Signup you are indicating that you have read and agreed to the Terms of service and Privacy Policy </div>
      </div>
    </div>
  </div>
</div>
