<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Online Furniture, Furniture, House looks, Home Looks, House Collections, Home Collections, Home Decor, Interiors, Interiors Designers, Wooden Furniture, Home Furniture "></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>


<div class="col-xs-12 staticContainer noPadding privacyPolicy">
  <div class="staticContent col-xs-12 col-md-10 col-md-offset-1">
    <div class="col-sm-10 col-sm-offset-1 staticOuter">
      <div class="faqHeader">Terms And Conditions</div>
      <h3>1. PAYMENT</h3>
      <p>Homebliss Retail makes the following payment options available for purchase of products displayed on
      Homebliss App.</p>
      <ul>
        <li>Visa/Master Card</li>
        <li>Net Banking</li>
        <li>Easy Monthly Installments</li>
        <li>Wallet</li>
      </ul><br/>
      <p>While availing any of the payment method/s offered by us, we are not responsible and take no liability of whatsoever nature in respect of any loss or damage arising directly or indirectly to you out of the decline due to:</p><br/>
      <p>1. lack of authorization for any transactions,<br/>2. or exceeding the preset limit mutually agreed by you and between your "Banks",<br/>3. or any payment issues arising out of the transaction,<br/>4. or decline of transaction for any reason/s</p><br/>
      <p>All payments made against the purchases/services on Homebliss. App by you shall be compulsorily in Indian Rupees acceptable by the Union of India. Homebliss.in App does not accept any other form of currency with respect to purchases.</p><br/>
      <h3>2. DELIVERY & SHIPPING</h3>
      <h4>Delivery and Shipping Policy</h4>
      <p>For products that are in stock, we ship within 24-72 hours from the time you place your order. We ship via several of the major mail carriers, including Aramex, DTDC, and the Indian Postal Service. Customers will be unable to opt for the carrier of their choosing. There is no shipping charge for orders above Rs.800. If your order value is less than Rs.800 a shipping and handling charge of Rs.100 will apply.</p>
      <h4>Taking Delivery of your Order</h4>
      <p>Inspect your order do not accept an order if box is physically damaged. Contact Customer Support and inform them of the damage immediately</p>
      <p>Customer Support at 080 49170010 or email at customerservice@homebliss.in</p>
      <h4>Exceptions to Our Shipping and Delivery Policy</h4>
      <p>The following exceptions will require extended shipment and/or delivery times:</p>
      <ul>
        <li>Products that are normally stocked but that are temporarily out of stock.</li>
        <li>Products that are not normally stocked and must therefore be special ordered.</li>
        <li>Items that transit thru states requiring special entry permits or Octroi such as in West Bengal,Maharashtra, Kerala and etc. Under such circumstances, you will be emailed regarding the specifics of your situation.</li>
        <li>Delivery pin code is not supported by major couriers. In this case we ship by Speed Post which takes a 4-5 days longer.</li>
        <li>Products which are imported from outside India.</li>
      </ul>
      <h4>Delays in Shipping</h4>
      <p>On occasion, we may experience an unforeseen delay in the shipment of your order. In such a case, you will be notified via email by Homebliss Retail. When delayed shipments become ready to ship, we will email you unless you contact us and choose to cancel any portion of your order that has not been shipped.</p>
      <h4>Shipping Timeframes</h4>
      <ul>
        <li><b>Standard Shipping:</b>Our standard method of shipping is Air Courier. You may expect to your order within 3-5 business days from the date of shipment.</li>
        <li><b>Ground Shipping:</b>Heavy items are shipped by ground service. You may expect to receive order within 5-10 business days from the date of shipment.</li>
        <li><b>Imported Products Shipping:</b>Products with an 'International' label are imported from India and are delivered in 10-15 business days</li>
      </ul>
      <h4>If your Order Does Not Arrive On Time</h4>
      <p>If your order does not arrive within the specified delivery timeframe please let us know. Tracking information is provided via email for most orders. On occasion, orders may become lost in transit, delivered to the wrong address, or consigned to a person other than yourself. This may include a family member, neighbor, co-worker, or property manager. Packages may also be left at your front door, garage, or in a location hidden from plain view. If for some reason, your delivery has not been received within the specified timeframe and cannot be located with the tracking information provided, please contact us.</p>
      <p>Customer Support at 080 49170010 or email at customerservice@homebliss.in</p>
      <h4>If Your Order Arrives Damaged</h4>
      <p>Check the packing and DO NOT take delivery of a product that has been damaged. If for any reason you are unable to reject accepting the product from the courier, inform Customer service within 24 hours and we will ship out a replacement.<br/><p>Customer Support at 080 49170010 or email at customerservice@homebliss.in</p>For products where we provide Installation Services inform the installer immediately on completion of
      installation and reject the product. Installer will disassemble and take the product back</p>
      <h4>MANUFACTURER WARRANTY</h4>
      <p>Products sold are covered by its manufacturer's warranty policy. If your item isn't working properly, please check the product manual (which arrived with the item) and the Homebliss.in brand warranty page for the product. If you need additional assistance, you need to request missing pieces or replacement parts, or you need warranty information, please contact the product's manufacturer directly. International products, decorative items and textiles do not have a manufacturer's warranty but are covered by our 30 day replacement guarantee.<br/>
      If the product does not have a brand warranty, please email customerservice@homebliss.in for assistance.<br/>
      If you're unable to resolve the problem after contacting the manufacturer, contact customerservice@homebliss.in to find more information about receiving a replacement or returning your item for a refund.<br/>
      For all Homebliss Exclusives, Homebliss warrants to you, the original buyer, that goods shall be free of defects in material and/or workmanship attributable to manufacture for a period of one year from date of purchase. Damage resulting from improper handling after merchandise is received or from exposure to weather or extreme atmospheric conditions is not covered by the Homebliss warranty. Warranty is subject to normal use under normal conditions. THE REPAIR OR REPLACEMENT OF DEFECTIVE GOODS CONSTITUTES HOMEBLISS ENTIRE OBLIGATION. THERE ARE NO OTHER WARRANTIES,
      EXPRESSED OR IMPLIED, INCLUDING ANY WARRANTY OR MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.</p>
      <h3>3. CANCELLATION</h3>
      <h4>Cancellation of order</h4>
      <p>Homebliss Retail reserves the right to cancel any order without any explanation for doing so, under situations where Homebliss Retail is not able to meet the requirement of the order placed, or the order so placed/cancelled does not comply with the Homebliss Retail policy, or for any other reason. However, Homebliss Retail will ensure that any communication regarding cancellation of an order so cancelled is intimated within appropriate time frame to the concerned, person and any applicable refund is made within a reasonable time period. In case of product orders cancelled by Homebliss Retail due to unavailability of products or delays in fulfilment, Homebliss Retail will provide 100% refund for that product.</p>
      <h4>Customer Order Cancellation Policy</h4>
      <p>If you made a mistake when placing an order, you can contact Customer Support to cancel the order without any charges, provided it has not already left our warehouse (typically 2-3 hours). Beyond this timeframe, you may cancel the order with a 20% restocking fee. The balance amount will be remitted to your Homebliss Credits account which will be valid for 6 months from date of issue.Purchases made from a sale catalogue are not eligible for cancellation or exchange.</p>
      <h3>4. TRACKING YOUR ORDER</h3>
      <p>Tracking Your Order</p>
      <p>As we have confirmed the Goods will be shipped through our preferred delivery partner HNG-House and Garden. Tracking information is provided via email for most orders. If tracking information is provided, you can track your order online by login in to your Mobile App under "My Order". You can also track your order on www.Homebliss.in under <b> "Track Order"</b><br/>

      <b>At the time of checking Pincode for delivery feature the estimate number of business days for delivery is shown. That's the time duration it will generally take.</b><br/>

      If your order has shipped but no tracking information was provided via email, then know that your order has been shipped regardless. It can take up to 24 hours to update tracking information. Also, please allow up to number of days shown during the checking Pincode for delivery feature. For most Standard Shipping orders with exception to those special circumstances mentioned in the "Exceptions to Our Shipping and Delivery Policy" section on this page.<br/>

      If you have not received your order within estimate number of business days for delivery as shown and your order was not an "exception" order, please feel free to e-mail customerservice@homebliss.in or Contact Customer Support at 080 49170010 for any queries.</p>
      <h4>Exceptions to Our Shipping and Delivery Policy</h4>
      <p>The following exceptions will require extended shipment and/or delivery times:</p>
      <ul>
        <li>Products that are normally stocked but that are temporarily out of stock.</li>
        <li>Products that are not normally stocked and must therefore be special ordered.</li>
        <li>Items that transit thru states requiring special entry permits or Octroi such as in West Bengal,Maharashtra,Kerala and etc. Under such circumstances, you will be emailed regarding the specifics of your situation.</li>
        <li>Products which are imported from outside India.</li>
      </ul>
      <h3>5. REPLACEMENT GUARANTEE</h3>
      <h4>Replacement Guarantee</h4>
      <p>At Homebliss Retail, we stand behind the quality of our products and will make things right if you are not satisfied with your purchase. We believe that we can work together with our customers to make every purchase a positive experience. Our shipments are carefully inspected before leaving our warehouse, but in the event you are not satisfied with your purchase, simply follow the instructions below.</p>
      <h4>30 Day Replacement Guarantee</h4>
      <p>All our Products are backed by a 30 day replacement guarantee. If you received the product in a damaged condition or should the product malfunction, you may return the product to us within 30 days and we will ship out a replacement at no additional cost. Which means that within 30 days from the date of delivery you can ask for replacement of the product subject to following terms and conditions:</p>
      <p>
      1. You can ask for replacement of product in case of any defect found in the product and the same product will be shipped to you as a replacement for the defective product.<br/>
      2. At Homebliss Retail's discretion, the replacement may be for the entire product or part of the product subject to availability of the same with Homebliss.in and notification of the same within 30 days from the date of delivery.<br/>
      3. Replacement is offered ONLY for the product/s purchased thru Homebliss App or Homebliss.in
      </p><br/>
      <p><b>Apart from condition reserved herein above, the following products shall not be eligible for return or
      replacement under this 30 Day Replacement Guarantee, viz:</b></p>
      <ul>
        <li>Any product that exhibits physical damage to the box or to the product;</li>
        <li>Any product that is returned without all original packaging and accessories, including the retail box, manuals, cables, and all other items originally included with the product at the time of delivery;</li>
        <li>Any product without a valid, readable, untampered serial number, including but not limited to products with missing, damaged, altered, or otherwise unreadable serial number;</li>
        <li>Any product from which the UPC (Universal Product Code) has been removed from its original packaging.</li>
        <li>Any product purchased from the SALE CATALOG during the Sale period.</li>
      </ul>
      <p><b>Disclaimer: "ANY DECISION ON 30 DAY REPLACEMENT GUARANTEE ON THE PRODUCTS SOLD BY Homebliss Retail is at the sole discretion of Homebliss Retail and decision of Homebliss shall be final and binding. Homebliss reserves the right to withdraw from 30 DAY REPLACEMENT GUARANTEE at any time without giving any notice of whatsoever nature."</b></p>
      <h4>Product Return Shipping</h4>
      <p>Return the Product(s) (in original packing along with all the paperwork that arrived with the product including invoice to:</p><br/>
      <i>Product Returns<br/>HNG Retail Pvt. Ltd,<br/>No:183/6,Mahadevapura,White Field Main Road, Next to Shell Petrol Pump,<br/>Bangalore 5600048<br/>INDIA<br/>
      </i>
      <p>You must use a track-able shipping method (e.g. Blue Dart) such that the returned product is received in our warehouse in Bangalore within 35 business days of your receiving the product. Send an email to customerservice@homebliss.in with your order details and the tracking ID of the returned shipment.Cost of return shipping shall be borne by the customer. Any loss or damage of items in return transit shall be the responsibility of the customer and Homebliss Retail shall not be liable for any claims relating to the same. We strongly urge you to declare the value and purchase insurance from the shipper.</p>
      <h4>Refund Procedure</h4>
      <p>Should we not be able to replace your returned product with an identical replacement we will refund the cost of your purchase to your Homebliss Credits account from where you can make replacement purchases. The credit to your Homebliss Credits will occur within 24 hours of the return claim being verified and successfully processed.<br/>
      Once the money has been credited to your Credits account, if you require a credit to the payment method (credit card, bank transfer, etc.) used to make the purchase, please send an email to customerservice@homebliss.in and we will credit the amount within 7 business days of receipt of your mail. Please note that unless permitted otherwise, the refunds will arise only in respect of products that are taken back.</p>
      <h3>6. WARRANTY</h3>
      <p>Products sold are covered by its manufacturers warranty policy. If your item isn't working properly, please check the product manual (which arrived with the item) and the Homebliss.in brand warranty page for the product. If you need additional assistance, you need to request missing pieces or replacement parts, or you need warranty information, please contact the product's manufacturer directly. International products, decorative items and textiles do not have a manufacturer's warranty but are covered by our 30 day replacement guarantee.<br/>
      If the product does not have a brand warranty, please email to customerservice@homebliss.in for assistance.<br/>If you're unable to resolve the problem after contacting the manufacturer, contact to customerservice@homebliss.in to find more information about receiving a replacement or returning your item for a refund.<br/>All<b>Severin</b>products are guaranteed against defects in materials and workmanship for a period of one year from the date of purchase or as specified in the warranty card accompanying your product. Under this guarantee the manufacturer Undertakes to repair or replace any parts found to be defective, providing the product is returned to one of our authorized service centers. This guarantee is only valid if the appliance has been used in a non-commercial environment and in accordance with the instructions, and provided that it has not been modified, repaired or interfered with by any unauthorized person, or damaged through misuse.<br/>The guarantee naturally does not cover wear and tear, nor breakables such as glass, Ceramic items, bulbs etc.<br/>If the product fails to operate and needs to be returned, contact to customerservice@homebliss.in and report the problem. Upon receiving Return instructions, pack it carefully, enclosing your name and address and the reason for return. If within the guarantee period, please also provide the guarantee card and proof of purchase.<br/>
      Homebliss Retail will at its option repair or replace your unit. If Homebliss Retail is unable to resolve the
      problem you will be provided a pro-rata refund for the balance term of your warranty. The length of the
      warranty for the repaired or replaced product is equal to the remaining length of the warranty of the
      product originally purchased.<br/>
      For all Homebliss Exclusives, Homebliss warrants to you, the original buyer, that goods shall be free of
      defects in material and/or workmanship attributable to manufacture for a period of one year from date of
      purchase. Damage resulting from improper handling after merchandise is received or from exposure to
      weather or extreme atmospheric conditions is not covered by the Homebliss warranty. Warranty is subject
      to normal use under normal conditions. THE REPAIR OR REPLACEMENT OF DEFECTIVE GOODS
      CONSTITUTES HOMEBLISS ENTIRE OBLIGATION. THERE ARE NO OTHER WARRANTIES,
      EXPRESSED OR IMPLIED, INCLUDING ANY WARRANTY OR MERCHANTABILITY OR FITNESS FOR
      A PARTICULAR PURPOSE.</p>
      <h4>7. MISCELLANEOUS</h4>
      <ol>
        <li>Homebliss Retail may modify the terms herein contained at any time. Such modifications shall be communicated by email and shall be binding on you.</li>
        <li>All disputes relating to these terms and any supplies made by Homebliss Retail to you shall be governed by the laws of India without reference to its conflict of laws principles and is subject to the exclusive jurisdiction of the courts in the Bangalore Urban District.</li>
        <li>Homebliss Retails opinion on all issues pertaining to the interpretation of these Terms shall be final and binding on you.</li>
        <li>Homebliss Retails is subject to existing laws and legal process and nothing contained in these Terms is in derogation of Homebliss Retail's right and obligation to comply with the Law or governmental, court and requests of enforcement agencies.</li>
        <li>If any part of these terms are held to be invalid or unenforceable including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and is nevertheless valid and enforceable and the remainder of these terms shall continue in effect.</li>
        <li>You may not assign any rights or obligations against Homebliss Retail without Homebliss Retail's prior written consent. Homebliss Retail reserves the right to transfer any right or obligation against you upon notice to you. Upon such assignment, the assignee shall be bound by the Terms in the same manner as Homebliss Retail and Homebliss Retail shall cease to have any liability to you.</li>
        <li>Homebliss Retail shall not be responsible for any delay or deficiency due to any force majeure events such natural disasters, acts of terrorism, civil labour strife, labour and transportation strikes.</li>
        <li>All notices to Homebliss Retail may be sent to 1210, 100ft. Road, Indiranagar, Bangalore 560038</li>
      </ol>
    </div>
  </div>
</div>
