<update-title title="HomeBliss - The Hippest community for Home interiors and Design"></update-title>
<update-meta name="description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>
<update-meta name="keywords" content="Online Furniture, Furniture, House looks, Home Looks, House Collections, Home Collections, Home Decor, Interiors, Interiors Designers, Wooden Furniture, Home Furniture "></update-meta>
<update-meta property="og:title" content="HomeBliss - The Hippest community for Home interiors and Design"></update-meta>
<update-meta property="og:description" content="Browse collections created by designers and curators from all over India. Seek design help from the experts and shop for the most unique and affordable products online."></update-meta>


<div class="col-xs-12 noPadding testimonialsContainer">
  <div class="col-md-10 col-md-offset-1 col-xs-12 noPadding">
    <div class="col-md-12 col-xs-12 askQuestion">
      <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 col-xs-12 noPadding">
        <div class="col-xs-12 noPadding">
          <div class="col-xs-12 text-center"><span class="tesHeadQuote">Testimonials</span></div>
          <form class="col-md-12 col-sm-12 col-xs-12 askQuestionInput" ng-submit="postTestimonial();">
            <div class="col-sm-2 col-xs-3 noPadding text-center">
              <img class="askUserImg" ng-if="userDetails&&userDetails.photo_url.length<=50" ng-src="{{'http://39ab864144ff459971dc-6426d144e3e5a54f03c22c62e6c27562.r98.cf1.rackcdn.com/'+userDetails.photo_url}}" />
              <img class="askUserImg" ng-if="userDetails&&userDetails.photo_url.length>50" ng-src="{{userDetails.photo_url}}" />
            </div>
            <div class="col-sm-10 col-xs-9  noPadding text-center ">
              <textarea ng-model="testimonial" class="questInputContainer form-control" placeholder="Enter your testimonial here" required id="testInput"></textarea>
              <div class="col-xs-12 noPadding attachPhotoBox">
                <label for="photoSelectBtn" class="pull-left">
                  <span class="pull-left attach-photo" aria-hidden="true"> Attach photo</span>
                  <input ng-hide="true" id="photoSelectBtn" type="file" ngf-select="uploadFiles($file, $invalidFiles)" ngf-accept="'image/*'" ngf-max-size="4MB">
                </label>
                <button type="submit" class="col-sm-3 col-xs-6 btn btn-default pull-right askBtn" ng-disabled="uploading">Post</button>
              </div>
              <div class="col-md-12 col-xs-12 noPadding uploadProgressBar" ng-if="uploading">
                <div progress-bar="" id="progressChart" data-total="100" data-complete="progressPercentage"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-xs-12 noPadding testimonialsListContainer" infinite-scroll='load()' infinite-scroll-distance='0' ng-if="!midScreen && testimonials">
      <div class="col-sm-12 col-md-10 col-md-offset-1 noPadding">
        <div class="col-md-4 col-sm-12 noPadding testimonialsList">
          <testimonial-card testimonial="testimonial" index="$index" ng-if="($index % 3 ) == 0" ng-repeat="testimonial in testimonials"></testimonial-card>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 noPadding testimonialsList">
          <testimonial-card testimonial="testimonial" index="$index" ng-if="($index % 3 ) == 1" ng-repeat="testimonial in testimonials"></testimonial-card>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 noPadding testimonialsList">
          <testimonial-card testimonial="testimonial" index="$index" ng-if="($index % 3 ) == 2" ng-repeat="testimonial in testimonials"></testimonial-card>
        </div>
      </div>
    </div>

    <div class="col-xs-12 noPadding testimonialsListContainer" infinite-scroll='load()' infinite-scroll-distance='0' ng-if="midScreen">
      <div class="col-xs-12">
        <div class="col-sm-6 col-xs-12 noPadding testimonialsList">
          <testimonial-card testimonial="testimonial" index="$index" ng-if="($index % 2 ) == 0" ng-repeat="testimonial in testimonials"></testimonial-card>
        </div>
        <div class="col-sm-6 col-xs-12 noPadding testimonialsList">
          <testimonial-card testimonial="testimonial" index="$index" ng-if="($index % 2 ) == 1" ng-repeat="testimonial in testimonials"></testimonial-card>
        </div>
      </div>
    </div>
  </div>
</div>
