<div class="col-xs-12 testimonialCardContainer noPadding pull-left">
  <div class="col-xs-12 testimonialCard">
    <div class="col-xs-12 noPadding testUserDetails">
      <div class="col-sm-2 col-xs-3 noPadding">
        <img ng-if="testimonial.user_image&&testimonial.user_image.length<=50" src="{{'http://39ab864144ff459971dc-6426d144e3e5a54f03c22c62e6c27562.r98.cf1.rackcdn.com/'+testimonial.user_image}}" class="noPadding askUserImg pull-left img-circle" />
        <img ng-if="testimonial.user_image&&testimonial.user_image.length>50" src="{{testimonial.user_image}}" class="noPadding askUserImg pull-left img-circle" />
      </div>
      <div class="col-sm-10  col-xs-9 noPadding testUserDetailsText">
        <p class="col-xs-12 testimonialUsername pull-left">{{::testimonial.first_name}}</p>
        <p class="col-xs-12 testimonialUserLocation pull-left">Bangalore</p>
      </div>
    </div>
    <div class="col-sm-12 col-xs-12">
      <img class="testImg clearfix" ng-if="testimonial.images" ng-src="{{::testimonial.images}}" alt="{{::testimonial.images}}" />
    </div>
    <div class="col-sm-12 col-xs-12 noPadding testText">
      <div class="col-sm-1 col-xs-2 noPadding text-center"><img src="../images/quote_grey.d81c584e.png"></div>
      <p class="col-sm-11 col-xs-10">{{::testimonial.testimonial}}</p>
      <hr class="col-sm-12 col-xs-12 noPadding" />
    </div>
  </div>
</div>
