<style>
.ngdialog.ngdialog-theme-default .ngdialog-content {
    width: 400px !important;
    margin-top: 11%;
}
.ngdialog-close{
  display: none;
}
</style>
<div class="col-xs-12 text-center">
  <img src="../images/alert_icon.78e96b3c.png" class="alertIcon" />
  <div class=" col-md-12 permissionMsg text-center">
    You need to sign in to do this action.<br>Do you want to sign in?
  </div>
  <div class="col-xs-10 col-xs-offset-1  text-center permissionBtn">
    <div class="col-xs-6 yesNoBtn">
      <button class="col-xs-12 btn btn-default noBtn" ng-click="$root.signInRejected()">No</button>
    </div>
    <div class="col-xs-6 yesNoBtn">
      <button class="col-xs-12 btn btn-default yesBtn" ng-click="$root.signInConfirm()">Yes</button>
    </div>
  </div>
</div>
